* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block
}

object,
embed,
iframe {
	max-width: 100%
}

progress {
	vertical-align: baseline
}

html,
body {
	min-height: 100%
}

a:active,
a:hover {
	outline: 0
}

blockquote,
blockquote:before,
blockquote:after,
q,
q:before,
q:after {
	content: '';
	content: none
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	font-weight: normal;
	text-align: left;
	vertical-align: bottom
}

td {
	font-weight: normal;
	vertical-align: top
}

input,
button,
optgroup,
select,
textarea {
	margin: 0
}

input:focus,
button:focus,
optgroup:focus,
select:focus,
textarea:focus {
	outline: none
}

input,
select {
	vertical-align: middle
}

input[type=checkbox],
input[type=radio] {
	vertical-align: text-top
}

input[type="search"]::-webkit-search-cancel-button {
	display: none
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0
}

button,
input[type=button],
input[type=submit] {
	width: auto;
	overflow: visible
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer
}

img {
	-ms-interpolation-mode: bicubic
}

a img {
	border: none
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased
}

body {
	margin: 0;
	font-family: is;
	direction: rtl;
	font-size: 14px;
	line-height: 26px;
	color: #73767f
}


@font-face {
	font-family: "is";
	font-weight: 300;
	src: url("../iransans/is_light.woff2") format("woff2");
}

@font-face {
	font-family: "is";
	font-weight: 400;
	src: url("../iransans/is.woff2") format("woff2");
}

@font-face {
	font-family: "is";
	font-weight: 500;
	src: url("../iransans/is_medium.woff2") format("woff2");
}


a {
	text-decoration: none;
	color: #1a74d4
}

a:hover,
a:focus {
	text-decoration: none;
	color: #1a74d4
}

input,
button,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

hr {
	border: 0;
	border-top: 1px solid #d1d7e4;
	margin-top: 20px;
	margin-bottom: 20px
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 20px
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0
}

ul.unstyled,
ol.unstyled {
	padding-left: 0;
	list-style: none
}

ul.inline,
ol.inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px
}

ul.inline>li,
ol.inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px
}

p {
	margin: 0 0 20px 0
}

p.light {
	color: #a2a4a9
}

nav ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.form-field {
	outline: none;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d1d7e4;
	padding: 8px 15px;
	color: #7f87a0;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.form-field::-webkit-input-placeholder,
.form-field::-moz-placeholder,
.form-field:-ms-input-placeholder,
.form-field:-moz-placeholder,
.form-field::placeholder {
	color: #73767f
}

.form-field[disabled],
.form-field[readonly],
fieldset[disabled] .form-field {
	opacity: 1;
	background: #f5f6fa
}

.form-field[disabled],
fieldset[disabled] .form-field {
	cursor: not-allowed
}

.form-field.success {
	border-color: #69dd95
}

.form-field.error {
	border-color: #f26175
}

.form-field.error.filled {
	background: rgba(242, 97, 117, .1)
}

.form-field:focus {
	outline: none;
	border-color: #a5aab8;
	color: #575b66;
	/* border-color: #1a74d4 */
}

.form-field:focus.filled {
	background: none
}

.form-field:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset !important;
	-webkit-text-fill-color: #73767f !important
}

.form-file-field {
	outline: none;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	position: relative;
	background: #fff;
	border: 1px solid #d1d7e4;
	padding: 10px 15px;
	border-radius: 4px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	direction: ltr;
}

.form-file-field:after {
	content: '';
	clear: both;
	display: block
}

.form-file-field.focus {
	border-color: #1a74d4
}

.form-file-field .file-btn {
	display: inline-block;
	vertical-align: top;
	padding: 0 8px;
	border-radius: 4px;
	background: #d1d7e4;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	left: -5px
}

.form-file-field .file-msg {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: 500;
	color: #c5c6ca
}

.form-file-field.active .file-msg {
	color: #73767f
}

.form-file-field input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	cursor: pointer;
	opacity: 0
}

.form-file-field input:focus {
	outline: none
}

textarea.form-field {
	resize: vertical
}

.form-element {
	margin-bottom: 10px;
}

.form-element label {
	color: #454954;
	margin-bottom: 5px;
	font-weight: normal;
	max-width: 100%
}

.form-group {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	direction: ltr;
}

.form-group textarea.form-field {
	white-space: pre-wrap;
}

.form-group>span,
.form-group .form-field,
.form-group .btn {
	white-space: nowrap;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center
}

.form-group>span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child),
.form-group .btn:not(:first-child):not(:last-child) {
	border-radius: 0
}

.form-group>span:first-child,
.form-group .form-field:first-child,
.form-group .btn:first-child {
	border-radius: 4px 0 0 4px
}

.form-group>span:last-child,
.form-group .form-field:last-child,
.form-group .btn:last-child {
	border-radius: 0 4px 4px 0
}

.form-group>span:not(:first-child),
.form-group .form-field:not(:first-child),
.form-group .btn:not(:first-child) {
	margin-left: -1px
}

.form-group .form-field {
	position: relative;
	z-index: 1;
	width: 1%;
	margin-bottom: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	direction: rtl;
}

.form-field[dir=ltr] {
	direction: ltr;
}

.form-group>span {
	margin-bottom: 0;
	text-align: center;
	border: 1px solid #d1d7e4;
	padding: 8px 10px;
	background: #f5f6fa;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.form-group.focus>span {
	color: #fff;
	background: #76ace5;
	border-color: #1a74d4
}

.password {
	position: relative
}

.password .icon-view {
	position: absolute;
	z-index: 1;
	display: block;
	width: 32px;
	top: 50%;
	text-align: center;
	cursor: pointer;
	background: #fff;
	padding: 5px;
	font-size: 18px;
	margin: -16px 0 0 0;
	color: #d1d7e4;
	right: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.password .icon-view:before {
	line-height: 22px;
	display: block
}

.password .icon-view.active {
	color: #1a74d4
}

@media (min-width:768px) {
	form.horizontal .form-element>label {
		margin-bottom: 0;
		padding: 10px 0
	}
}

form.horizontal .form-element .static {
	margin-bottom: 0
}

@media (min-width:768px) {
	form.horizontal .form-element .static {
		padding: 10px 0
	}
}

form.horizontal .checkbox:first-child,
form.horizontal .checkbox.inline,
form.horizontal .radio:first-child,
form.horizontal .radio.inline,
form.horizontal .switch:first-child,
form.horizontal .switch.inline {
	padding-top: 12px
}

@keyframes confetti {
	60% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(1) translate(-50%, -50%);
		-ms-transform: scale(1) translate(-50%, -50%);
		transform: scale(1) translate(-50%, -50%)
	}
}

.checkbox,
.radio,
.switch {
	margin: 0
}

.checkbox.inline,
.radio.inline,
.switch.inline {
	margin: 0 12px 0 0;
	display: inline-block
}

.checkbox>span,
.radio>span,
.switch>span {
	margin: 0 10px 0 0;
	vertical-align: top
}

.checkbox input,
.radio input,
.switch input {
	display: none
}

.checkbox input+div,
.radio input+div,
.switch input+div {
	cursor: pointer;
	vertical-align: top;
	position: relative;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.checkbox input+div:before,
.radio input+div:before,
.switch input+div:before {
	content: ''
}

.checkbox.fancy input+div:after,
.radio.fancy input+div:after,
.switch.fancy input+div:after {
	content: '';
	width: 3px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	border-radius: 50%;
	-webkit-transform: scale(0) translate(-50%, -50%);
	-ms-transform: scale(0) translate(-50%, -50%);
	transform: scale(0) translate(-50%, -50%)
}

.checkbox.fancy input:checked+div:after,
.radio.fancy input:checked+div:after,
.switch.fancy input:checked+div:after {
	animation: confetti 0.4s cubic-bezier(0.17, 0.67, 0.82, 1.25) forwards
}

.checkbox>span {
	line-height: 24px
}

.checkbox input+div {
	height: 22px;
	width: 22px;
	background: #fff;
	border: 1px solid #d1d7e4;
	border-radius: 4px
}

.checkbox input+div:before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 11px;
	margin: -7px 0 0 -3px;
	opacity: 0;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(0deg) scale(0);
	-ms-transform: rotate(0deg) scale(0);
	transform: rotate(0deg) scale(0);
	-webkit-transition: all 0.3s ease 0.15s;
	transition: all 0.3s ease 0.15s
}

.checkbox input:checked+div {
	background: #76ace5;
	border-color: #1a74d4
}

.checkbox input:checked+div:before {
	opacity: 1;
	-webkit-transform: rotate(42deg) scale(1);
	-ms-transform: rotate(42deg) scale(1);
	transform: rotate(42deg) scale(1);
	-webkit-transition: all 0.15s cubic-bezier(0.17, 0.67, 0.82, 1.25) 0.1s;
	transition: all 0.15s cubic-bezier(0.17, 0.67, 0.82, 1.25) 0.1s
}

.checkbox input:disabled+div {
	cursor: not-allowed
}

.checkbox input:disabled:checked+div {
	background: #f5f6fa;
	border-color: #d1d7e4
}

.checkbox input:disabled:checked+div:before {
	border-color: #d1d7e4
}

.checkbox input:disabled:not(:checked)+div {
	background: #f5f6fa;
	border-color: #d1d7e4
}

.checkbox:hover input+div {
	border-color: #1a74d4
}

.checkbox:hover input:checked+div {
	background: #1a74d4
}

.checkbox:hover input:disabled:checked+div {
	background: #f5f6fa
}

.checkbox.fancy input+div:after {
	box-shadow: 0 18px 0 #1a74d4, 0 -18px 0 #1a74d4, -18px 0 0 #1a74d4, 18px 0 0 #1a74d4, 12px 12px 0 #1a74d4, -12px 12px 0 #1a74d4, 12px -12px 0 #1a74d4, -12px -12px 0 #1a74d4
}

.radio>span {
	line-height: 24px
}

.radio input+div {
	width: 22px;
	height: 22px;
	background: #fff;
	border: 1px solid #d1d7e4;
	border-radius: 50%
}

.radio input+div:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 12px;
	height: 12px;
	margin: -6px 0 0 -6px;
	opacity: 0;
	background: #fff;
	border-radius: inherit;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.radio input:checked+div {
	background: #76ace5;
	border-color: #1a74d4
}

.radio input:checked+div:before {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}

.radio input:disabled+div {
	cursor: not-allowed;
	background: #f5f6fa;
	border-color: #d1d7e4
}

.radio input:disabled:checked+div:before {
	background: #d1d7e4
}

.radio:hover input+div {
	border-color: #1a74d4
}

.radio:hover input:disabled+div {
	border-color: #d1d7e4
}

.radio:hover input:checked+div {
	background: #1a74d4
}

.radio:hover input:disabled:checked+div {
	background: #f5f6fa;
	border-color: #d1d7e4
}

.radio.fancy input+div:after {
	box-shadow: 0 18px 0 #1a74d4, 0 -18px 0 #1a74d4, -18px 0 0 #1a74d4, 18px 0 0 #1a74d4, 12px 12px 0 #1a74d4, -12px 12px 0 #1a74d4, 12px -12px 0 #1a74d4, -12px -12px 0 #1a74d4
}

.switch>span {
	line-height: 22px
}

.switch input+div {
	width: 44px;
	height: 22px;
	border: 1px solid #d1d7e4;
	background: #d1d7e4;
	border-radius: 11px
}

.switch input+div:before {
	float: left;
	width: 16px;
	height: 16px;
	background: #fff;
	pointer-events: none;
	margin-top: 2px;
	margin-left: 2px;
	border-radius: inherit;
	-webkit-transition: all 0.25s cubic-bezier(0.54, 1.85, 0.5, 1);
	transition: all 0.25s cubic-bezier(0.54, 1.85, 0.5, 1)
}

.switch input:checked+div {
	background: #76ace5;
	border: 1px solid #1a74d4
}

.switch input:checked+div:before {
	-webkit-transform: translate(22px, 0);
	-ms-transform: translate(22px, 0);
	transform: translate(22px, 0)
}

.switch input:disabled+div {
	cursor: not-allowed;
	background: #f5f6fa;
	border-color: #d1d7e4
}

.switch input:disabled+div:before {
	background: #d1d7e4
}

.switch.fancy input+div:after {
	box-shadow: 0 18px 0 #1a74d4, 0 -18px 0 #1a74d4, -28px 0 0 #1a74d4, 28px 0 0 #1a74d4, 19px 15px 0 #1a74d4, -19px 15px 0 #1a74d4, 19px -15px 0 #1a74d4, -19px -15px 0 #1a74d4
}

.switch:hover input:disabled+div {
	border-color: #d1d7e4
}

.switch:hover input:checked+div {
	background: #1a74d4
}

.switch:hover input:disabled:checked+div {
	background: #f5f6fa;
	border-color: #d1d7e4
}

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	position: relative;
	white-space: nowrap;
	border: none;
	color: #fff;
	line-height: 26px;
	padding: 10px 25px;
	font-size: 14px;
	font-weight: 500;
	background: #1a74d4;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.btn:link,
.btn:active,
.btn:visited,
.btn:focus {
	color: #fff
}

.btn [class*='icon-'] {
	position: relative;
	left: -5px;
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	font-weight: normal
}

.btn [class*='icon-']:before {
	display: inline-block;
	vertical-align: top;
	line-height: 26px
}

.btn [class*='icon-'].right {
	left: auto;
	right: -5px
}

.btn.icon {
	padding: 10px
}

.btn.icon [class*='icon-'] {
	left: auto;
	right: auto;
	display: block;
	min-width: 26px
}

.btn.sm {
	font-size: 14px;
	border-radius: 3px;
	padding: 5px 20px
}

.btn.sm.icon {
	padding: 5px
}

.btn.sm [class*='icon-'] {
	font-size: 16px
}

.btn.sm.border:before {
	border-radius: 3px
}

.btn.lg {
	font-size: 18px;
	border-radius: 5px;
	padding: 15px 30px
}

.btn.lg.icon {
	padding: 15px
}

.btn.lg [class*='icon-'] {
	font-size: 20px
}

.btn.lg.border:before {
	border-radius: 5px
}

.btn:hover {
	color: #fff;
	background: #1765b9
}

.btn.border {
	background: #fff;
	color: #73767f
}

.btn.border:link,
.btn.border:active,
.btn.border:visited,
.btn.border:focus {
	color: #73767f
}

.btn.border:before {
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 0;
	border: 1px solid #d1d7e4;
	border-radius: 4px
}

.btn.border:hover {
	background: #f5f6fa
}

.btn.gradient {
	position: relative;
	background: none
}

.btn.gradient:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	z-index: -1;
	border-radius: inherit;
	background: #1a74d4;
	background: -webkit-linear-gradient(90deg -, #1a74d4, #4ba7e2);
	background: linear-gradient(135deg, #1a74d4, #4ba7e2);
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.btn.gradient:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	z-index: -2;
	border-radius: inherit;
	background: #1765b9;
	background: -webkit-linear-gradient(90deg -, #1765b9, #319ade);
	background: linear-gradient(135deg, #1765b9, #319ade)
}

.btn.gradient:hover:after {
	opacity: 0
}

.btn.success {
	background: #69dd95
}

.btn.success:hover {
	background: #50d783
}

.btn.none {
	background: none
}

.btn.none:hover {
	background: none
}

.btn.center {
	display: table;
	margin-left: auto;
	margin-right: auto
}

.btn.block {
	display: block
}

.btn:hover {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none
}

.btn:active {
	-webkit-transform: scale(0.99);
	-ms-transform: scale(0.99);
	transform: scale(0.99)
}

.btn-group {
	position: relative;
	display: inline-block;
	vertical-align: middle
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
	margin-left: -1px
}

.btn-group .btn {
	float: left
}

.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn:active {
	z-index: 2
}

.btn-group .btn:not(:first-child):not(:last-child) {
	border-radius: 0
}

.btn-group .btn:not(:first-child):not(:last-child):before {
	border-radius: 0
}

.btn-group .btn:last-child:not(:first-child) {
	border-radius: 0 4px 4px 0
}

.btn-group .btn:last-child:not(:first-child):before,
.btn-group .btn:last-child:not(:first-child):after {
	border-radius: 0 4px 4px 0
}

.btn-group .btn:first-child:not(:last-child) {
	border-radius: 4px 0 0 4px
}

.btn-group .btn:first-child:not(:last-child):before,
.btn-group .btn:first-child:not(:last-child):after {
	border-radius: 4px 0 0 4px
}

.btn-group .btn.sm:last-child:not(:first-child) {
	border-radius: 0 3px 3px 0
}

.btn-group .btn.sm:last-child:not(:first-child):before,
.btn-group .btn.sm:last-child:not(:first-child):after {
	border-radius: 0 3px 3px 0
}

.btn-group .btn.sm:first-child:not(:last-child) {
	border-radius: 3px 0 0 3px
}

.btn-group .btn.sm:first-child:not(:last-child):before,
.btn-group .btn.sm:first-child:not(:last-child):after {
	border-radius: 3px 0 0 3px
}

.btn-group .btn.lg:last-child:not(:first-child) {
	border-radius: 0 5px 5px 0
}

.btn-group .btn.lg:last-child:not(:first-child):before,
.btn-group .btn.lg:last-child:not(:first-child):after {
	border-radius: 0 5px 5px 0
}

.btn-group .btn.lg:first-child:not(:last-child) {
	border-radius: 5px 0 0 5px
}

.btn-group .btn.lg:first-child:not(:last-child):before,
.btn-group .btn.lg:first-child:not(:last-child):after {
	border-radius: 5px 0 0 5px
}

.btn-group .btn:first-child {
	margin-left: 0
}

.btn-group .btn:hover,
.btn-group .btn:active {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none
}

.btn-group:after {
	content: '';
	clear: both;
	display: block
}

.alert {
	display: inline-block;
	padding-right: 10px;
	/* border: 1px solid transparent; */
	/* color: #fff; */
	/* position: relative; */
	/* text-shadow: 0 0 1px 1px rgba(0, 0, 0, .4); */
	/* border-radius: 4px; */
	font-weight: 500;
	/* margin: 0px 0 10px 0; */
}

/* .alert:before {
	content: '';
	font-family: 'icons';
	font-weight: normal;
	display: block;
	vertical-align: top;
	position: absolute;
	left: 14px;
	top: 10px
} */

.alert.success {
	border-color: #69dd95;
	background: rgba(105, 221, 149, 0.8)
}

/* .alert.success:before {
	content: '\f145'
} */

.alert.error {
	color: #f26175;
	/* background: rgba(242, 97, 117, 0.8) */
}

/* .alert.error:before {
	content: '\f144'
} */

.alert.warning {
	border-color: #f8c93f;
	background: rgba(248, 201, 63, 0.8)
}

/* .alert.warning:before {
	content: '\f226'
} */

.alert.info {
	border-color: #4ba7e2;
	background: rgba(75, 167, 226, 0.8)
}

/*
.alert.info:before {
	content: '\f14a'
} */

.alert.light {
	background: none;
	text-shadow: none;
	font-weight: normal;
	color: #a2a4a9;
	text-shadow: none
}

.alert.light.success:before {
	color: #69dd95
}

.alert.light.error:before {
	color: #f26175
}

.alert.light.warning:before {
	color: #f8c93f
}

.alert.light.info:before {
	color: #4ba7e2
}

select.form-select {
	-webkit-appearance: none;
	width: 100%;
	padding: 10px 15px;
	background: #fff;
	cursor: pointer;
	border: 1px solid #d1d7e4;
	border-radius: 4px;
	line-height: 26px
}

.form-select {
	position: relative;
	display: block;
	user-select: none;
	width: 100%
}

.form-select>span {
	position: relative;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: #fff;
	cursor: pointer;
	border: 1px solid #d1d7e4;
	border-radius: 4px;
	line-height: 26px;
	padding: 10px 35px 10px 15px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.form-select>span:after {
	content: '';
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	right: 15px;
	border-color: #a2a4a9 transparent transparent transparent
}

.form-select.disabled>span {
	cursor: not-allowed;
	background: #f5f6fa;
	color: #a2a4a9
}

.form-select.disabled>span:after {
	border-color: #d1d7e4 transparent transparent transparent
}

.form-select.open>span {
	border-color: #1a74d4
}

.form-select.open>span:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.form-select.open>div {
	display: block
}

.form-select>div {
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	padding: 10px 0;
	min-width: 100%;
	background: #fff;
	display: none;
	z-index: 1;
	margin: 8px 0 0 0;
	border-radius: 4px;
	box-shadow: 0 1px 4px 1px rgba(22, 27, 53, .14)
}

.form-select>div span {
	line-height: 32px;
	position: relative;
	font-weight: 500;
	display: block;
	padding: 0 16px;
	white-space: nowrap;
	font-size: 14px;
	cursor: pointer;
	color: #a2a4a9;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.form-select>div span:hover {
	background: #f5f6fa
}

.form-select>div span.active {
	color: #fff;
	background: #4ba7e2
}

table.table {
	line-height: 26px;
	width: 100%;
	margin-bottom: 20px
}

table.table.border {
	border: 1px solid #d1d7e4
}

table.table.stripe tbody tr:nth-child(2n + 1) td {
	background: rgba(245, 246, 250, .6)
}

table.table.hover tbody tr:hover td,
table.table.hover tbody tr:hover th {
	background: #f5f6fa
}

@media (max-width:768px) {
	table.table.responsive {
		border-top: 0
	}
}

table.table.responsive tr th {
	display: table-cell
}

@media (max-width:768px) {
	table.table.responsive tr th {
		display: none
	}
}

table.table.responsive tr td {
	display: table-cell
}

@media (max-width:768px) {
	table.table.responsive tr td {
		display: block;
		padding-left: 42%;
		padding-bottom: 0;
		padding-right: 15px;
		position: relative;
		border: 0
	}
}

table.table.responsive tr td:first-child {
	border-top: 1px solid #d1d7e4
}

table.table.responsive tr td:last-child {
	padding-bottom: 10px
}

table.table.responsive tr td:before {
	content: attr(data-th) ": ";
	color: #454954;
	font-weight: normal;
	display: none;
	position: absolute;
	left: 15px;
	top: 10px;
	width: 42%
}

@media (max-width:768px) {
	table.table.responsive tr td:before {
		display: block
	}
}

table.table tr th {
	color: #454954;
	font-weight: normal;
	padding: 10px 15px;
	background: none
}

table.table tr td {
	padding: 10px 15px;
	border-top: 1px solid #d1d7e4;
	background: none
}

.clear:after {
	content: '';
	clear: both;
	display: block
}

.f-l {
	float: left !important
}

.f-r {
	float: right !important
}

.wrap-lines {
	align-items: center;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center
}

.wrap-lines:before,
.wrap-lines:after {
	content: '';
	flex-grow: 1;
	height: 1px;
	background: #ccc;
	min-width: 80px;
	display: inline-block;
	vertical-align: middle;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

.wrap-lines:before {
	margin-right: 30px
}

.wrap-lines:after {
	margin-left: 30px
}

.m-t-5 {
	margin-top: 5px !important
}

.p-t-5 {
	padding-top: 5px !important
}

.m-b-5 {
	margin-bottom: 5px !important
}

.p-b-5 {
	padding-bottom: 5px !important
}

.m-l-5 {
	margin-left: 5px !important
}

.p-l-5 {
	padding-left: 5px !important
}

.m-r-5 {
	margin-right: 5px !important
}

.p-r-5 {
	padding-right: 5px !important
}

.m-t-10 {
	margin-top: 10px !important
}

.p-t-10 {
	padding-top: 10px !important
}

.m-b-10 {
	margin-bottom: 10px !important
}

.p-b-10 {
	padding-bottom: 10px !important
}

.m-l-10 {
	margin-left: 10px !important
}

.p-l-10 {
	padding-left: 10px !important
}

.m-r-10 {
	margin-right: 10px !important
}

.p-r-10 {
	padding-right: 10px !important
}

.m-t-15 {
	margin-top: 15px !important
}

.p-t-15 {
	padding-top: 15px !important
}

.m-b-15 {
	margin-bottom: 15px !important
}

.p-b-15 {
	padding-bottom: 15px !important
}

.m-l-15 {
	margin-left: 15px !important
}

.p-l-15 {
	padding-left: 15px !important
}

.m-r-15 {
	margin-right: 15px !important
}

.p-r-15 {
	padding-right: 15px !important
}

.m-t-20 {
	margin-top: 20px !important
}

.p-t-20 {
	padding-top: 20px !important
}

.m-b-20 {
	margin-bottom: 20px !important
}

.p-b-20 {
	padding-bottom: 20px !important
}

.m-l-20 {
	margin-left: 20px !important
}

.p-l-20 {
	padding-left: 20px !important
}

.m-r-20 {
	margin-right: 20px !important
}

.p-r-20 {
	padding-right: 20px !important
}

.m-t-25 {
	margin-top: 25px !important
}

.p-t-25 {
	padding-top: 25px !important
}

.m-b-25 {
	margin-bottom: 25px !important
}

.p-b-25 {
	padding-bottom: 25px !important
}

.m-l-25 {
	margin-left: 25px !important
}

.p-l-25 {
	padding-left: 25px !important
}

.m-r-25 {
	margin-right: 25px !important
}

.p-r-25 {
	padding-right: 25px !important
}

.m-t-30 {
	margin-top: 30px !important
}

.p-t-30 {
	padding-top: 30px !important
}

.m-b-30 {
	margin-bottom: 30px !important
}

.p-b-30 {
	padding-bottom: 30px !important
}

.m-l-30 {
	margin-left: 30px !important
}

.p-l-30 {
	padding-left: 30px !important
}

.m-r-30 {
	margin-right: 30px !important
}

.p-r-30 {
	padding-right: 30px !important
}

.m-t-35 {
	margin-top: 35px !important
}

.p-t-35 {
	padding-top: 35px !important
}

.m-b-35 {
	margin-bottom: 35px !important
}

.p-b-35 {
	padding-bottom: 35px !important
}

.m-l-35 {
	margin-left: 35px !important
}

.p-l-35 {
	padding-left: 35px !important
}

.m-r-35 {
	margin-right: 35px !important
}

.p-r-35 {
	padding-right: 35px !important
}

.container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1160px;
	padding-left: 15px;
	padding-right: 15px
}

.container:after {
	content: '';
	clear: both;
	display: block
}

@media (min-width:769px) {
	.container {
		width: 730px
	}
}

@media (min-width:993px) {
	.container {
		width: 960px
	}
}

@media (min-width:1181px) {
	.container {
		width: 1160px
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}

.container-fluid:after {
	content: '';
	clear: both;
	display: block
}

.columns,
form.horizontal .form-element {
	margin-right: -15px;
	margin-left: -15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.columns:after,
form.horizontal .form-element:after {
	content: '';
	clear: both;
	display: block
}

.columns.reverse,
form.horizontal .form-element.reverse {
	-webkit-box-direction: reverse;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

.columns.center,
form.horizontal .form-element.center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center
}

.columns.center-v,
form.horizontal .form-element.center-v {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center
}

.columns.center-h,
form.horizontal .form-element.center-h {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center
}

.columns [class^="sm"],
form.horizontal .form-element [class^="sm"],
.columns [class*=" sm"],
form.horizontal .form-element [class*=" sm"] {
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%
}

.columns [class^="md"],
form.horizontal .form-element [class^="md"],
.columns [class*=" md"],
form.horizontal .form-element [class*=" md"] {
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%
}

.columns [class^="lg"],
form.horizontal .form-element [class^="lg"],
.columns [class*=" lg"],
form.horizontal .form-element [class*=" lg"] {
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%
}

.columns .xs,
form.horizontal .form-element .xs {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: auto;
	-moz-flex-basis: auto;
	-ms-flex-preferred-size: auto;
	flex-basis: auto
}

.columns .xs-1,
form.horizontal .form-element .xs-1 {
	max-width: 8.33333%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 8.33333%;
	-moz-flex-basis: 8.33333%;
	-ms-flex-preferred-size: 8.33333%;
	flex-basis: 8.33333%
}

.columns .xs-2,
form.horizontal .form-element .xs-2 {
	max-width: 16.66667%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 16.66667%;
	-moz-flex-basis: 16.66667%;
	-ms-flex-preferred-size: 16.66667%;
	flex-basis: 16.66667%
}

.columns .xs-3,
form.horizontal .form-element .xs-3 {
	max-width: 25%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 25%;
	-moz-flex-basis: 25%;
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%
}

.columns .xs-4,
form.horizontal .form-element .xs-4 {
	max-width: 33.33333%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 33.33333%;
	-moz-flex-basis: 33.33333%;
	-ms-flex-preferred-size: 33.33333%;
	flex-basis: 33.33333%
}

.columns .xs-5,
form.horizontal .form-element .xs-5 {
	max-width: 41.66667%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 41.66667%;
	-moz-flex-basis: 41.66667%;
	-ms-flex-preferred-size: 41.66667%;
	flex-basis: 41.66667%
}

.columns .xs-6,
form.horizontal .form-element .xs-6 {
	max-width: 50%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 50%;
	-moz-flex-basis: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%
}

.columns .xs-7,
form.horizontal .form-element .xs-7 {
	max-width: 58.33333%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 58.33333%;
	-moz-flex-basis: 58.33333%;
	-ms-flex-preferred-size: 58.33333%;
	flex-basis: 58.33333%
}

.columns .xs-8,
form.horizontal .form-element .xs-8 {
	max-width: 66.66667%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 66.66667%;
	-moz-flex-basis: 66.66667%;
	-ms-flex-preferred-size: 66.66667%;
	flex-basis: 66.66667%
}

.columns .xs-9,
form.horizontal .form-element .xs-9 {
	max-width: 75%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 75%;
	-moz-flex-basis: 75%;
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%
}

.columns .xs-10,
form.horizontal .form-element .xs-10 {
	max-width: 83.33333%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 83.33333%;
	-moz-flex-basis: 83.33333%;
	-ms-flex-preferred-size: 83.33333%;
	flex-basis: 83.33333%
}

.columns .xs-11,
form.horizontal .form-element .xs-11 {
	max-width: 91.66667%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 91.66667%;
	-moz-flex-basis: 91.66667%;
	-ms-flex-preferred-size: 91.66667%;
	flex-basis: 91.66667%
}

.columns .xs-12,
form.horizontal .form-element .xs-12 {
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%
}

.columns .xs-offset-0,
form.horizontal .form-element .xs-offset-0 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 0
}

.columns .xs-offset-1,
form.horizontal .form-element .xs-offset-1 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 8.33333%
}

.columns .xs-offset-2,
form.horizontal .form-element .xs-offset-2 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 16.66667%
}

.columns .xs-offset-3,
form.horizontal .form-element .xs-offset-3 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 25%
}

.columns .xs-offset-4,
form.horizontal .form-element .xs-offset-4 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 33.33333%
}

.columns .xs-offset-5,
form.horizontal .form-element .xs-offset-5 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 41.66667%
}

.columns .xs-offset-6,
form.horizontal .form-element .xs-offset-6 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 50%
}

.columns .xs-offset-7,
form.horizontal .form-element .xs-offset-7 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 58.33333%
}

.columns .xs-offset-8,
form.horizontal .form-element .xs-offset-8 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 66.66667%
}

.columns .xs-offset-9,
form.horizontal .form-element .xs-offset-9 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 75%
}

.columns .xs-offset-10,
form.horizontal .form-element .xs-offset-10 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 83.33333%
}

.columns .xs-offset-11,
form.horizontal .form-element .xs-offset-11 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 91.66667%
}

.columns .xs-offset-12,
form.horizontal .form-element .xs-offset-12 {
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 100%
}

.columns .xs,
form.horizontal .form-element .xs {
	max-width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-basis: 0;
	-moz-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0
}

.columns .start-xs,
form.horizontal .form-element .start-xs {
	text-align: left;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	justify-content: flex-start
}

.columns .center-xs,
form.horizontal .form-element .center-xs {
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center
}

.columns .end-xs,
form.horizontal .form-element .end-xs {
	text-align: right;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end
}

.columns .top-xs,
form.horizontal .form-element .top-xs {
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	align-items: flex-start
}

.columns .middle-xs,
form.horizontal .form-element .middle-xs {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center
}

.columns .bottom-xs,
form.horizontal .form-element .bottom-xs {
	-webkit-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	align-items: flex-end
}

.columns .around-xs,
form.horizontal .form-element .around-xs {
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around
}

.columns .between-xs,
form.horizontal .form-element .between-xs {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between
}

.columns .first-xs,
form.horizontal .form-element .first-xs {
	order: -1
}

.columns .last-xs,
form.horizontal .form-element .last-xs {
	order: 1
}

@media only screen and (min-width:768px) {

	.columns .sm,
	form.horizontal .form-element .sm {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: auto;
		-moz-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto
	}

	.columns .sm-1,
	form.horizontal .form-element .sm-1 {
		max-width: 8.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 8.33333%;
		-moz-flex-basis: 8.33333%;
		-ms-flex-preferred-size: 8.33333%;
		flex-basis: 8.33333%
	}

	.columns .sm-2,
	form.horizontal .form-element .sm-2 {
		max-width: 16.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 16.66667%;
		-moz-flex-basis: 16.66667%;
		-ms-flex-preferred-size: 16.66667%;
		flex-basis: 16.66667%
	}

	.columns .sm-3,
	form.horizontal .form-element .sm-3 {
		max-width: 25%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 25%;
		-moz-flex-basis: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%
	}

	.columns .sm-4,
	form.horizontal .form-element .sm-4 {
		max-width: 33.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 33.33333%;
		-moz-flex-basis: 33.33333%;
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%
	}

	.columns .sm-5,
	form.horizontal .form-element .sm-5 {
		max-width: 41.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 41.66667%;
		-moz-flex-basis: 41.66667%;
		-ms-flex-preferred-size: 41.66667%;
		flex-basis: 41.66667%
	}

	.columns .sm-6,
	form.horizontal .form-element .sm-6 {
		max-width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 50%;
		-moz-flex-basis: 50%;
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%
	}

	.columns .sm-7,
	form.horizontal .form-element .sm-7 {
		max-width: 58.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 58.33333%;
		-moz-flex-basis: 58.33333%;
		-ms-flex-preferred-size: 58.33333%;
		flex-basis: 58.33333%
	}

	.columns .sm-8,
	form.horizontal .form-element .sm-8 {
		max-width: 66.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 66.66667%;
		-moz-flex-basis: 66.66667%;
		-ms-flex-preferred-size: 66.66667%;
		flex-basis: 66.66667%
	}

	.columns .sm-9,
	form.horizontal .form-element .sm-9 {
		max-width: 75%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 75%;
		-moz-flex-basis: 75%;
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%
	}

	.columns .sm-10,
	form.horizontal .form-element .sm-10 {
		max-width: 83.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 83.33333%;
		-moz-flex-basis: 83.33333%;
		-ms-flex-preferred-size: 83.33333%;
		flex-basis: 83.33333%
	}

	.columns .sm-11,
	form.horizontal .form-element .sm-11 {
		max-width: 91.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 91.66667%;
		-moz-flex-basis: 91.66667%;
		-ms-flex-preferred-size: 91.66667%;
		flex-basis: 91.66667%
	}

	.columns .sm-12,
	form.horizontal .form-element .sm-12 {
		max-width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 100%;
		-moz-flex-basis: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%
	}

	.columns .sm-offset-0,
	form.horizontal .form-element .sm-offset-0 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 0
	}

	.columns .sm-offset-1,
	form.horizontal .form-element .sm-offset-1 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 8.33333%
	}

	.columns .sm-offset-2,
	form.horizontal .form-element .sm-offset-2 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 16.66667%
	}

	.columns .sm-offset-3,
	form.horizontal .form-element .sm-offset-3 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 25%
	}

	.columns .sm-offset-4,
	form.horizontal .form-element .sm-offset-4 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 33.33333%
	}

	.columns .sm-offset-5,
	form.horizontal .form-element .sm-offset-5 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 41.66667%
	}

	.columns .sm-offset-6,
	form.horizontal .form-element .sm-offset-6 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 50%
	}

	.columns .sm-offset-7,
	form.horizontal .form-element .sm-offset-7 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 58.33333%
	}

	.columns .sm-offset-8,
	form.horizontal .form-element .sm-offset-8 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 66.66667%
	}

	.columns .sm-offset-9,
	form.horizontal .form-element .sm-offset-9 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 75%
	}

	.columns .sm-offset-10,
	form.horizontal .form-element .sm-offset-10 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 83.33333%
	}

	.columns .sm-offset-11,
	form.horizontal .form-element .sm-offset-11 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 91.66667%
	}

	.columns .sm-offset-12,
	form.horizontal .form-element .sm-offset-12 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 100%
	}

	.columns .sm,
	form.horizontal .form-element .sm {
		max-width: 100%;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-webkit-flex-basis: 0;
		-moz-flex-basis: 0;
		-ms-flex-preferred-size: 0;
		flex-basis: 0
	}

	.columns .start-sm,
	form.horizontal .form-element .start-sm {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		justify-content: flex-start;
		text-align: left
	}

	.columns .center-sm,
	form.horizontal .form-element .center-sm {
		text-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		justify-content: center
	}

	.columns .end-sm,
	form.horizontal .form-element .end-sm {
		text-align: right;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		-webkit-justify-content: flex-end;
		-moz-justify-content: flex-end;
		justify-content: flex-end
	}

	.columns .top-sm,
	form.horizontal .form-element .top-sm {
		-webkit-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		align-items: flex-start
	}

	.columns .middle-sm,
	form.horizontal .form-element .middle-sm {
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		align-items: center
	}

	.columns .bottom-sm,
	form.horizontal .form-element .bottom-sm {
		-webkit-box-align: end;
		-ms-flex-align: end;
		-webkit-align-items: flex-end;
		-moz-align-items: flex-end;
		align-items: flex-end
	}

	.columns .around-sm,
	form.horizontal .form-element .around-sm {
		-ms-flex-pack: distribute;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		justify-content: space-around
	}

	.columns .between-sm,
	form.horizontal .form-element .between-sm {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		justify-content: space-between
	}

	.columns .first-sm,
	form.horizontal .form-element .first-sm {
		order: -1
	}

	.columns .last-sm,
	form.horizontal .form-element .last-sm {
		order: 1
	}
}

@media only screen and (min-width:992px) {

	.columns .md,
	form.horizontal .form-element .md {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: auto;
		-moz-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto
	}

	.columns .md-1,
	form.horizontal .form-element .md-1 {
		max-width: 8.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 8.33333%;
		-moz-flex-basis: 8.33333%;
		-ms-flex-preferred-size: 8.33333%;
		flex-basis: 8.33333%
	}

	.columns .md-2,
	form.horizontal .form-element .md-2 {
		max-width: 16.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 16.66667%;
		-moz-flex-basis: 16.66667%;
		-ms-flex-preferred-size: 16.66667%;
		flex-basis: 16.66667%
	}

	.columns .md-3,
	form.horizontal .form-element .md-3 {
		max-width: 25%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 25%;
		-moz-flex-basis: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%
	}

	.columns .md-4,
	form.horizontal .form-element .md-4 {
		max-width: 33.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 33.33333%;
		-moz-flex-basis: 33.33333%;
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%
	}

	.columns .md-5,
	form.horizontal .form-element .md-5 {
		max-width: 41.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 41.66667%;
		-moz-flex-basis: 41.66667%;
		-ms-flex-preferred-size: 41.66667%;
		flex-basis: 41.66667%
	}

	.columns .md-6,
	form.horizontal .form-element .md-6 {
		max-width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 50%;
		-moz-flex-basis: 50%;
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%
	}

	.columns .md-7,
	form.horizontal .form-element .md-7 {
		max-width: 58.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 58.33333%;
		-moz-flex-basis: 58.33333%;
		-ms-flex-preferred-size: 58.33333%;
		flex-basis: 58.33333%
	}

	.columns .md-8,
	form.horizontal .form-element .md-8 {
		max-width: 66.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 66.66667%;
		-moz-flex-basis: 66.66667%;
		-ms-flex-preferred-size: 66.66667%;
		flex-basis: 66.66667%
	}

	.columns .md-9,
	form.horizontal .form-element .md-9 {
		max-width: 75%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 75%;
		-moz-flex-basis: 75%;
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%
	}

	.columns .md-10,
	form.horizontal .form-element .md-10 {
		max-width: 83.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 83.33333%;
		-moz-flex-basis: 83.33333%;
		-ms-flex-preferred-size: 83.33333%;
		flex-basis: 83.33333%
	}

	.columns .md-11,
	form.horizontal .form-element .md-11 {
		max-width: 91.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 91.66667%;
		-moz-flex-basis: 91.66667%;
		-ms-flex-preferred-size: 91.66667%;
		flex-basis: 91.66667%
	}

	.columns .md-12,
	form.horizontal .form-element .md-12 {
		max-width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 100%;
		-moz-flex-basis: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%
	}

	.columns .md-offset-0,
	form.horizontal .form-element .md-offset-0 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 0
	}

	.columns .md-offset-1,
	form.horizontal .form-element .md-offset-1 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 8.33333%
	}

	.columns .md-offset-2,
	form.horizontal .form-element .md-offset-2 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 16.66667%
	}

	.columns .md-offset-3,
	form.horizontal .form-element .md-offset-3 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 25%
	}

	.columns .md-offset-4,
	form.horizontal .form-element .md-offset-4 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 33.33333%
	}

	.columns .md-offset-5,
	form.horizontal .form-element .md-offset-5 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 41.66667%
	}

	.columns .md-offset-6,
	form.horizontal .form-element .md-offset-6 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 50%
	}

	.columns .md-offset-7,
	form.horizontal .form-element .md-offset-7 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 58.33333%
	}

	.columns .md-offset-8,
	form.horizontal .form-element .md-offset-8 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 66.66667%
	}

	.columns .md-offset-9,
	form.horizontal .form-element .md-offset-9 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 75%
	}

	.columns .md-offset-10,
	form.horizontal .form-element .md-offset-10 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 83.33333%
	}

	.columns .md-offset-11,
	form.horizontal .form-element .md-offset-11 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 91.66667%
	}

	.columns .md-offset-12,
	form.horizontal .form-element .md-offset-12 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 100%
	}

	.columns .md,
	form.horizontal .form-element .md {
		max-width: 100%;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-webkit-flex-basis: 0;
		-moz-flex-basis: 0;
		-ms-flex-preferred-size: 0;
		flex-basis: 0
	}

	.columns .start-md,
	form.horizontal .form-element .start-md {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		justify-content: flex-start;
		text-align: left
	}

	.columns .center-md,
	form.horizontal .form-element .center-md {
		text-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		justify-content: center
	}

	.columns .end-md,
	form.horizontal .form-element .end-md {
		text-align: right;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		-webkit-justify-content: flex-end;
		-moz-justify-content: flex-end;
		justify-content: flex-end
	}

	.columns .top-md,
	form.horizontal .form-element .top-md {
		-webkit-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		align-items: flex-start
	}

	.columns .middle-md,
	form.horizontal .form-element .middle-md {
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		align-items: center
	}

	.columns .bottom-md,
	form.horizontal .form-element .bottom-md {
		-webkit-box-align: end;
		-ms-flex-align: end;
		-webkit-align-items: flex-end;
		-moz-align-items: flex-end;
		align-items: flex-end
	}

	.columns .around-md,
	form.horizontal .form-element .around-md {
		-ms-flex-pack: distribute;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		justify-content: space-around
	}

	.columns .between-md,
	form.horizontal .form-element .between-md {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		justify-content: space-between
	}

	.columns .first-md,
	form.horizontal .form-element .first-md {
		order: -1
	}

	.columns .last-md,
	form.horizontal .form-element .last-md {
		order: 1
	}
}

@media only screen and (min-width:1180px) {

	.columns .lg,
	form.horizontal .form-element .lg {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: auto;
		-moz-flex-basis: auto;
		-ms-flex-preferred-size: auto;
		flex-basis: auto
	}

	.columns .lg-1,
	form.horizontal .form-element .lg-1 {
		max-width: 8.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 8.33333%;
		-moz-flex-basis: 8.33333%;
		-ms-flex-preferred-size: 8.33333%;
		flex-basis: 8.33333%
	}

	.columns .lg-2,
	form.horizontal .form-element .lg-2 {
		max-width: 16.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 16.66667%;
		-moz-flex-basis: 16.66667%;
		-ms-flex-preferred-size: 16.66667%;
		flex-basis: 16.66667%
	}

	.columns .lg-3,
	form.horizontal .form-element .lg-3 {
		max-width: 25%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 25%;
		-moz-flex-basis: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%
	}

	.columns .lg-4,
	form.horizontal .form-element .lg-4 {
		max-width: 33.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 33.33333%;
		-moz-flex-basis: 33.33333%;
		-ms-flex-preferred-size: 33.33333%;
		flex-basis: 33.33333%
	}

	.columns .lg-5,
	form.horizontal .form-element .lg-5 {
		max-width: 41.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 41.66667%;
		-moz-flex-basis: 41.66667%;
		-ms-flex-preferred-size: 41.66667%;
		flex-basis: 41.66667%
	}

	.columns .lg-6,
	form.horizontal .form-element .lg-6 {
		max-width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 50%;
		-moz-flex-basis: 50%;
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%
	}

	.columns .lg-7,
	form.horizontal .form-element .lg-7 {
		max-width: 58.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 58.33333%;
		-moz-flex-basis: 58.33333%;
		-ms-flex-preferred-size: 58.33333%;
		flex-basis: 58.33333%
	}

	.columns .lg-8,
	form.horizontal .form-element .lg-8 {
		max-width: 66.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 66.66667%;
		-moz-flex-basis: 66.66667%;
		-ms-flex-preferred-size: 66.66667%;
		flex-basis: 66.66667%
	}

	.columns .lg-9,
	form.horizontal .form-element .lg-9 {
		max-width: 75%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 75%;
		-moz-flex-basis: 75%;
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%
	}

	.columns .lg-10,
	form.horizontal .form-element .lg-10 {
		max-width: 83.33333%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 83.33333%;
		-moz-flex-basis: 83.33333%;
		-ms-flex-preferred-size: 83.33333%;
		flex-basis: 83.33333%
	}

	.columns .lg-11,
	form.horizontal .form-element .lg-11 {
		max-width: 91.66667%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 91.66667%;
		-moz-flex-basis: 91.66667%;
		-ms-flex-preferred-size: 91.66667%;
		flex-basis: 91.66667%
	}

	.columns .lg-12,
	form.horizontal .form-element .lg-12 {
		max-width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-flex-basis: 100%;
		-moz-flex-basis: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%
	}

	.columns .lg-offset-0,
	form.horizontal .form-element .lg-offset-0 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 0
	}

	.columns .lg-offset-1,
	form.horizontal .form-element .lg-offset-1 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 8.33333%
	}

	.columns .lg-offset-2,
	form.horizontal .form-element .lg-offset-2 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 16.66667%
	}

	.columns .lg-offset-3,
	form.horizontal .form-element .lg-offset-3 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 25%
	}

	.columns .lg-offset-4,
	form.horizontal .form-element .lg-offset-4 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 33.33333%
	}

	.columns .lg-offset-5,
	form.horizontal .form-element .lg-offset-5 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 41.66667%
	}

	.columns .lg-offset-6,
	form.horizontal .form-element .lg-offset-6 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 50%
	}

	.columns .lg-offset-7,
	form.horizontal .form-element .lg-offset-7 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 58.33333%
	}

	.columns .lg-offset-8,
	form.horizontal .form-element .lg-offset-8 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 66.66667%
	}

	.columns .lg-offset-9,
	form.horizontal .form-element .lg-offset-9 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 75%
	}

	.columns .lg-offset-10,
	form.horizontal .form-element .lg-offset-10 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 83.33333%
	}

	.columns .lg-offset-11,
	form.horizontal .form-element .lg-offset-11 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 91.66667%
	}

	.columns .lg-offset-12,
	form.horizontal .form-element .lg-offset-12 {
		padding-right: 15px;
		padding-left: 15px;
		-webkit-box-flex: 0;
		-webkit-flex-grow: 0;
		-moz-flex-grow: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-left: 100%
	}

	.columns .lg,
	form.horizontal .form-element .lg {
		max-width: 100%;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-webkit-flex-basis: 0;
		-moz-flex-basis: 0;
		-ms-flex-preferred-size: 0;
		flex-basis: 0
	}

	.columns .start-lg,
	form.horizontal .form-element .start-lg {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		justify-content: flex-start;
		text-align: left
	}

	.columns .center-lg,
	form.horizontal .form-element .center-lg {
		text-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		justify-content: center
	}

	.columns .end-lg,
	form.horizontal .form-element .end-lg {
		text-align: right;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		-webkit-justify-content: flex-end;
		-moz-justify-content: flex-end;
		justify-content: flex-end
	}

	.columns .top-lg,
	form.horizontal .form-element .top-lg {
		-webkit-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		align-items: flex-start
	}

	.columns .middle-lg,
	form.horizontal .form-element .middle-lg {
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		align-items: center
	}

	.columns .bottom-lg,
	form.horizontal .form-element .bottom-lg {
		-webkit-box-align: end;
		-ms-flex-align: end;
		-webkit-align-items: flex-end;
		-moz-align-items: flex-end;
		align-items: flex-end
	}

	.columns .around-lg,
	form.horizontal .form-element .around-lg {
		-ms-flex-pack: distribute;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		justify-content: space-around
	}

	.columns .between-lg,
	form.horizontal .form-element .between-lg {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		justify-content: space-between
	}

	.columns .first-lg,
	form.horizontal .form-element .first-lg {
		order: -1
	}

	.columns .last-lg,
	form.horizontal .form-element .last-lg {
		order: 1
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	line-height: 1.3;
	letter-spacing: -0.0125em;
	word-spacing: -0.025em;
}

h1 {
	color: #454954;
	font-weight: 500;
	font-size: 32px;
	margin: 0 0 20px 0;
	font-size: 28px
}

@media (min-width:480px) {
	h1 {
		font-size: calc(28px + strip-unit(8px) * (100vw - 480px) / strip-unit(700px))
	}
}

@media (min-width:1180px) {
	h1 {
		font-size: 32px
	}
}

h2 {
	color: #454954;
	font-weight: normal;
	font-size: 32px;
	margin: 0 0 20px 0;
	font-size: 25px
}

@media (min-width:480px) {
	h2 {
		font-size: calc(25px + strip-unit(7px) * (100vw - 480px) / strip-unit(700px))
	}
}

@media (min-width:1180px) {
	h2 {
		font-size: 32px
	}
}

h3 {
	color: #454954;
	font-weight: 500;
	font-size: 24px;
	margin: 20px 0;
	font-size: 19px
}

@media (min-width:480px) {
	h3 {
		font-size: calc(19px + strip-unit(5px) * (100vw - 480px) / strip-unit(700px))
	}
}

@media (min-width:1180px) {
	h3 {
		font-size: 24px
	}
}

h4 {
	color: #454954;
	font-weight: 500;
	font-size: 21px;
	margin: 20px 0;
	font-size: 16px
}

@media (min-width:480px) {
	h4 {
		font-size: calc(16px + strip-unit(5px) * (100vw - 480px) / strip-unit(700px))
	}
}

@media (min-width:1180px) {
	h4 {
		font-size: 21px
	}
}

label {
	color: #454954;
	font-weight: normal;
	display: block
}

small {
	font-size: 12px;
	line-height: 1
}
