.comp-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 1;
	padding: 20px 20px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 1);
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

@media only screen and (max-width: 48rem) {
	.comp-modal {
		padding: 0;
	}
}

.comp-modal.hide {
	display: none;
}

/*
.comp-modal:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: -0.05em;
} */

.comp-modal .modal {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	margin: 0 auto;
	height: 100%;
	width: 95%;
	background: #fff;
	color: #262626;
	overflow: hidden;
	padding: 0;
	text-align: left;
	border-radius: 0.25rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.23), 0 19px 76px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 48rem) {
	.comp-modal .modal {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.comp-modal .modal.xs {
	width: 32rem;
	max-width: 100%;
	padding: 50px 30px 30px;
}

.comp-modal .modal.sm {
	width: 45rem;
	max-width: 100%;
	padding: 50px 30px 30px;
}

.comp-modal .modal--header {
	padding: 30px 30px 15px;
	margin: -30px;
	margin-bottom: 0.5rem;
	margin-top: -30px;
}

.comp-modal .modal--header .title {
	margin: 0;
	font-size: 2rem;
	line-height: 1.35;
}

.comp-modal .modal--header i {
	vertical-align: middle;
}

.comp-modal .modal--header .info {
	margin: 0 0 0.5rem;
	font-size: 0.85rem;
}

.comp-modal .modal--footer {
	padding: 20px 30px;
	border-radius: 0 0 0.25rem 0.25rem;
	background-color: #eee;
	margin: -30px;
	margin-top: 2.5rem;
	margin-bottom: -30px;
}

.comp-modal .modal a.close-modal {
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 4;
	padding: 0;
	width: 3rem;
	height: 3rem;
	border: none;
	background-color: transparent;
	opacity: 0.5;
	font-size: 3rem;
	text-align: center;
	font-family: monospace;
	line-height: 3rem;
	color: #888;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.comp-modal .modal a.close-modal:hover {
	opacity: 1;
}

.comp-modal iframe {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 0.25rem;
	display: block;
}
