img {
	width: 63px;
	float: right;
	margin-left: 10px;
}
@font-face {
	font-family: 'Omid-Regular';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/omid-regular.eot);
	src: url(fonts/omid-regular.eot?#iefix) format('embedded-opentype'), url(fonts/omid-regular.woff) format('woff');
}
@font-face {
	font-family: 'Omid-Bold';
	font-style: normal;
	font-weight: 500;
	src: url(fonts/omid-bold.eot);
	src: url(fonts/omid-bold.eot?#iefix) format('embedded-opentype'), url(fonts/omid-bold.woff) format('woff');
}
input[type="newsletter"] {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #888;
	padding: 0px 10px;
	margin-left: 10px;
}
.column ul li.new:after {
	content: 'جدید';
	margin-top: 0px;
	margin-right: 7px;
	background: #38A5FF;
	color: #FFF;
	font-size: 10px;
	padding: 0px 5px 0px 5px;
	border-radius: 5px;
}
.mobileMenuOverlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: 0 0;
}
.mobileMenuOverlay.visible {
	pointer-events: all;
	background-color: rgba(0, 0, 0, 0.35);
	transition: background-color 0.35s cubic-bezier(0.295, 1, 0.38, 1);
}
.mobileMenuOverlay.visible .mobileMenu {
	opacity: 1;
}
.mobileMenuOverlay.visible .mobileMenu.animated {
	transition: -webkit-transform 0.35s cubic-bezier(0.295, 1.235, 0.38, 1.03), opacity 0.35s cubic-bezier(0.295, 1.235, 0.38, 1.03);
	transition: transform 0.35s cubic-bezier(0.295, 1.235, 0.38, 1.03), opacity 0.35s cubic-bezier(0.295, 1.235, 0.38, 1.03);
}
.mobileMenuOverlay.visible .mobileMenu.animated .arrow {
	transition: -webkit-transform 0.35s cubic-bezier(0.295, 1.235, 0.38, 1.03);
	transition: transform 0.35s cubic-bezier(0.295, 1.235, 0.38, 1.03);
}
.mobileMenuOverlay .mobileMenu {
	position: absolute;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.mobileMenuOverlay .mobileMenu .arrow {
	position: absolute;
	width: 27px;
	height: 12px;
	margin-left: -13px;
	background-size: 100% 100%;
}
.mobileMenuOverlay .mobileMenu .list {
	position: absolute;
	width: 100%;
	max-height: calc(100vh - 51px);
	overflow-y: auto;
	cursor: default;
	background-color: #FFF;
	border-radius: 6px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-overflow-scrolling: touch;
	-webkit-touch-callout: none;
}
.mobileMenuOverlay .mobileMenu .list ul {
	direction: rtl;
	position: relative;
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	list-style: none;
}
.mobileMenuOverlay .mobileMenu .list ul li {
	position: relative;
	display: block;
	width: 100%;
}
.mobileMenuOverlay .mobileMenu .list ul li a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}
.mobileMenuOverlay .mobileMenu .list ul li a.active,
.mobileMenuOverlay .mobileMenu .list ul li a:active {
	opacity: 1;
}
.mobileMenuOverlay .mobileMenu .list ul li.header {
	width: calc(100% - 30px);
	height: 22px;
	margin-right: 15px;
	margin-bottom: 5px;
	margin-left: 15px;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
	color: #888;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.mobileMenuOverlay .mobileMenu .list ul li.header:not(:first-child) {
	margin-top: 20px;
}
.mobileMenuOverlay .mobileMenu .list ul li:not(.header) {
	height: 38px;
	padding-right: 25px;
	padding-left: 20px;
	line-height: 38px;
	color: #333;
}
.mobileMenuOverlay .mobileMenu .list ul li:not(.header).active,
.mobileMenuOverlay .mobileMenu .list ul li:not(.header):active {
	background-color: rgba(0, 0, 0, 0.1);
}
.mobileMenuOverlay .mobileMenu.animated {
	transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.mobileMenuOverlay .mobileMenu.above .list {
	top: 0;
}
.mobileMenuOverlay .mobileMenu.above .arrow {
	bottom: 1px;
	background-image: url(../images/home/mobile-menu-arrow-above.svg);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}
.mobileMenuOverlay .mobileMenu.below .list {
	top: 12px;
}
.mobileMenuOverlay .mobileMenu.below .arrow {
	top: 0;
	right: 1rem;
	background-image: url(../images/home/mobile-menu-arrow-below.svg);
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	background: 0 0;
	border: 0;
	outline: 0;
}
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
.contactFormOverlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	transition: all 0.25s ease-out;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-tap-highlight-color: transparent;
	visibility: hidden;
}
.contactFormOverlay.visible {
	/* pointer-events: all; */
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.35);
}
.contactFormOverlay.visible form {
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.contactFormOverlay form {
	opacity: 0;
	-webkit-transform: scale(0.75, 0.75) translateY(80px);
	-ms-transform: scale(0.75, 0.75) translateY(80px);
	transform: scale(0.75, 0.75) translateY(80px);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07), 0 0 1px 1px rgba(0, 0, 0, 0.05), 0 7px 7px rgba(0, 0, 0, 0.25), 0 14px 14px rgba(0, 0, 0, 0.15);
	transition: opacity 0.25s cubic-bezier(0.25, 0.86, 0.325, 1), -webkit-transform 0.25s cubic-bezier(0.25, 0.86, 0.325, 1);
	transition: opacity 0.25s cubic-bezier(0.25, 0.86, 0.325, 1), transform 0.25s cubic-bezier(0.25, 0.86, 0.325, 1);
}
@media only screen and (max-width: 700px) {
	.contactFormOverlay {
		display: block;
	}
	.contactFormOverlay.visible {
		background-color: rgba(0, 0, 0, 0.65);
	}
	.contactFormOverlay form {
		opacity: 1;
		-webkit-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);
	}
}
form.requestInvite {
	position: relative;
	display: block;
	width: 290px;
	min-height: 290px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	overflow: auto;
	background-color: #FFF;
	border-radius: 10px;
}
.contactFormContainer:not(.landingPage) form.requestInvite {
	/* max-height: 90vh; */
}
@media only screen and (min-aspect-ratio: 13 / 9) and (max-width: 479px) {
	.contactFormContainer:not(.landingPage) form.requestInvite {
		max-height: 50vh;
		min-height: 0;
	}
}
@media only screen and (max-width: 700px) {
	.contactFormContainer:not(.landingPage) form.requestInvite {
		width: 100%;
		max-height: 100vh;
		min-height: 100vh;
		padding-right: 0;
		padding-left: 0;
		border-radius: 0;
		box-shadow: none;
	}
	form.requestInvite .formFields .title {
		margin-top: 14px;
		margin-bottom: 20px;
		font-family: 'omid-Regular', Montserrat;
		font-weight: normal;
		font-size: 17px;
	}
}
form.requestInvite section.landingPage {
	min-height: 450px;
}
form.requestInvite.shake {
	-webkit-animation: shake 0.35s cubic-bezier(0.77, 0, 0.175, 1);
	animation: shake 0.35s cubic-bezier(0.77, 0, 0.175, 1);
}
form.requestInvite.success {
	pointer-events: none;
}
form.requestInvite.success .formFields {
	opacity: 0;
	-webkit-transform: scale(0.75, 0.75);
	-ms-transform: scale(0.75, 0.75);
	transform: scale(0.75, 0.75);
}
form.requestInvite.success .mobileButton {
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}
form.requestInvite.success .success {
	pointer-events: all;
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
form.requestInvite.success .success .icon:after {
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
form.requestInvite .formFields {
	transition: opacity 0.2s cubic-bezier(0.25, 0.86, 0.325, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.86, 0.325, 1);
	transition: opacity 0.2s cubic-bezier(0.25, 0.86, 0.325, 1), transform 0.2s cubic-bezier(0.25, 0.86, 0.325, 1);
}
form.requestInvite .title {
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 30px;
	font-family: 'Omid-Bold', Montserrat;
	font-size: 18px;
	font-weight: 500;
	color: #333;
	text-align: center;
}
form.requestInvite .caption {
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 4px;
	margin-bottom: 25px;
	font-size: 13px;
	line-height: 1.4em;
	color: #888;
	direction: rtl;
	text-align: center;
}
form.requestInvite .fieldGroup {
	position: relative;
	border-top: 1px solid #D2D2D2;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #E2E2E2;
	border-left: 1px solid #DCDCDC;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
}
form.requestInvite .fieldGroup:not(:first-child) {
	margin-top: 10px;
}
@media only screen and (max-width: 700px) {
	form.requestInvite .caption {
		font-size: 14px;
	}
	form.requestInvite .fieldGroup {
		border-style: none;
		border-radius: 0;
		box-shadow: none;
	}
	form.requestInvite .fieldGroup:not(:first-child) {
		margin-top: 0;
	}
}
form.requestInvite .fieldGroup:after {
	display: block;
	height: 0;
	clear: both;
	content: "";
}
form.requestInvite .fieldGroup input,
form.requestInvite .fieldGroup textarea {
	position: relative;
	display: block;
	width: 100%;
	padding-right: 8px;
	padding-left: 8px;
	font-size: 13px;
	font-weight: 500;
	color: #333;
	background-color: transparent;
	border-style: none;
	outline: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 700px) {
	form.requestInvite .fieldGroup input,
	form.requestInvite .fieldGroup textarea {
		padding-right: 12px;
		padding-left: 12px;
		font-size: 15px;
		font-weight: 400;
		border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
		border-radius: 0;
	}
}
form.requestInvite .fieldGroup input::-webkit-input-placeholder,
form.requestInvite .fieldGroup textarea::-webkit-input-placeholder {
	color: #C6CBCF;
	direction: rtl;
	opacity: 1;
}
form.requestInvite .fieldGroup input::-moz-placeholder,
form.requestInvite .fieldGroup textarea::-moz-placeholder {
	color: #C6CBCF;
	opacity: 1;
}
form.requestInvite .fieldGroup input:-ms-input-placeholder,
form.requestInvite .fieldGroup textarea:-ms-input-placeholder {
	color: #C6CBCF;
	opacity: 1;
}
form.requestInvite .fieldGroup input::placeholder,
form.requestInvite .fieldGroup textarea::placeholder {
	color: #C6CBCF;
	opacity: 1;
}
form.requestInvite .fieldGroup input.invalid,
form.requestInvite .fieldGroup textarea.invalid {
	color: #FF4040;
}
form.requestInvite .fieldGroup input.invalid::-webkit-input-placeholder,
form.requestInvite .fieldGroup textarea.invalid::-webkit-input-placeholder {
	color: #FF4040;
}
form.requestInvite .fieldGroup input.invalid::-moz-placeholder,
form.requestInvite .fieldGroup textarea.invalid::-moz-placeholder {
	color: #FF4040;
}
form.requestInvite .fieldGroup input.invalid:-ms-input-placeholder,
form.requestInvite .fieldGroup textarea.invalid:-ms-input-placeholder {
	color: #FF4040;
}
form.requestInvite .fieldGroup input.invalid::placeholder,
form.requestInvite .fieldGroup textarea.invalid::placeholder {
	color: #FF4040;
}
form.requestInvite .fieldGroup input:not(:first-child),
form.requestInvite .fieldGroup textarea:not(:first-child) {
	border-top: 1px solid rgba(0, 0, 0, 0.06);
}
form.requestInvite .fieldGroup input {
	height: 28px;
}
@media only screen and (max-width: 700px) {
	form.requestInvite .fieldGroup input {
		height: 40px;
	}
}
form.requestInvite .fieldGroup input:not(:first-child) {
	height: 29px;
	direction: rtl;
}
@media only screen and (max-width: 700px) {
	form.requestInvite .fieldGroup input:not(:first-child) {
		height: 41px;
	}
}
form.requestInvite .fieldGroup input.halfWidth {
	float: right;
	direction: rtl;
	width: 50%;
}
form.requestInvite .fieldGroup input.halfWidth:last-child {
	border-top-style: none;
}
form.requestInvite .fieldGroup input.halfWidth:nth-child(2) {
	height: 28px;
	border-top-style: none;
}
form.requestInvite .fieldGroup input.halfWidth + .halfWidth {
	border-right: 1px solid rgba(0, 0, 0, 0.06);
}
form.requestInvite .fieldGroup textarea {
	direction: rtl;
	min-height: 84px;
	padding-top: 6px;
	padding-bottom: 6px;
	resize: vertical;
}
@media only screen and (max-width: 700px) {
	form.requestInvite .fieldGroup input.halfWidth:nth-child(2) {
		height: 40px;
	}
	form.requestInvite .fieldGroup textarea {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}
form.requestInvite .desktopButton.submit {
	position: relative;
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 20px;
	font-size: 13px;
	line-height: 30px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
	cursor: default;
	cursor: pointer;
	background-color: #38A5FF;
	border-style: none;
	border-radius: 4px;
	outline: 0;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 rgba(0, 0, 0, 0.1);
	transition: color 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}
form.requestInvite .desktopButton.submit:active {
	opacity: 0.65;
}
form.requestInvite .desktopButton.submit.submitting {
	color: transparent;
	text-shadow: none;
}
form.requestInvite .submit.submitting .activityIndicator {
	opacity: 1 !important;
	transform: none !important;
	animation-name: spin;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1turn);
	}
}
form.requestInvite .desktopButton.submit .activityIndicator {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	pointer-events: none;
	border: 2px solid #FFF;
	border-right-color: transparent;
	border-radius: 12px;
	opacity: 0;
	-webkit-transform: scale(0.1, 0.1);
	-ms-transform: scale(0.1, 0.1);
	transform: scale(0.1, 0.1);
	/* -webkit-animation: spinner 1s linear infinite; */
	/* animation: spinner 1s linear infinite; */
	/* transition: opacity 0.15s ease-in-out; */
}
form.requestInvite .mobileButton {
	position: relative;
	top: 0;
	z-index: 1;
	display: none;
	padding: 14px;
	font-size: 17px;
	transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.86, 0.325, 1);
	transition: transform 0.2s cubic-bezier(0.25, 0.86, 0.325, 1);
	-webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 700px) {
	.contactFormContainer:not(.landingPage) form.requestInvite .desktopButton.submit {
		display: none;
	}
	.contactFormContainer:not(.landingPage) form.requestInvite .mobileButton {
		display: block;
	}
}
form.requestInvite .mobileButton:not(.submitting).active {
	opacity: 0.4;
}
form.requestInvite .mobileButton.cancel {
	float: left;
	color: #888;
	cursor: pointer;
}
form.requestInvite .mobileButton.submit {
	float: right;
	font-weight: 500;
	color: #38A5FF;
	cursor: pointer;
	transition: color 0.25s ease-in-out;
}
form.requestInvite .mobileButton.submit.submitting {
	color: transparent;
}
form.requestInvite .mobileButton.submit.submitting .activityIndicator {
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
form.requestInvite .mobileButton.submit .activityIndicator {
	position: absolute;
	top: 50%;
	right: 17px;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	pointer-events: none;
	border: 2px solid #888;
	border-right-color: transparent;
	border-radius: 12px;
	opacity: 0;
	-webkit-transform: scale(0.1, 0.1);
	-ms-transform: scale(0.1, 0.1);
	transform: scale(0.1, 0.1);
	/* -webkit-animation: spinner 1s linear infinite; */
	/* animation: spinner 1s linear infinite; */
	/* transition: opacity 0.15s ease-in-out; */
}
form.requestInvite .success {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	pointer-events: none;
	background-color: #FFF;
	opacity: 0;
	-webkit-transform: scale(0.75, 0.75);
	-ms-transform: scale(0.75, 0.75);
	transform: scale(0.75, 0.75);
	transition: opacity 0.2s cubic-bezier(0.25, 0.86, 0.325, 1) 0.2s, -webkit-transform 0.2s cubic-bezier(0.25, 0.86, 0.325, 1) 0.2s;
	transition: opacity 0.2s cubic-bezier(0.25, 0.86, 0.325, 1) 0.2s, transform 0.2s cubic-bezier(0.25, 0.86, 0.325, 1) 0.2s;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
form.requestInvite .success.active {
	transform: scale(1, 1);
	opacity: 1;
}
form.requestInvite .success.active .icon:after {
	transform: scale(1, 1);
	opacity: 1;
}
form.requestInvite .success .icon {
	position: relative;
	width: 69px;
	height: 69px;
	background-image: url(../images/contactForm/successCheckmark.png);
	background-position: top center;
	margin: 30px auto -10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	form.requestInvite .success .icon {
		background-image: url(../images/contactForm/successCheckmark@2x.png);
		background-size: 69px 138px;
	}
}
form.requestInvite .success .icon:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 69px;
	height: 69px;
	background-image: url(../images/contactForm/successCheckmark.png);
	background-position: bottom center;
	content: "";
	opacity: 0;
	-webkit-transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	transform: scale(2, 2);
	transition: opacity 0.15s cubic-bezier(0.25, 0.86, 0.325, 1) 0.4s, -webkit-transform 0.35s cubic-bezier(0.25, 0.86, 0.325, 1) 0.4s;
	transition: opacity 0.15s cubic-bezier(0.25, 0.86, 0.325, 1) 0.4s, transform 0.35s cubic-bezier(0.25, 0.86, 0.325, 1) 0.4s;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	form.requestInvite .success .icon:after {
		background-image: url(../images/contactForm/successCheckmark@2x.png);
		background-size: 69px 138px;
	}
}
@media only screen and (max-width: 700px) {
	form.requestInvite .success .icon {
		margin-top: 0;
	}
	form.requestInvite .success .caption:not(.socialMedia) {
		margin-bottom: 65px;
	}
	form.requestInvite .success .caption.socialMedia {
		display: none;
	}
}
form.requestInvite .success .caption.socialMedia {
	margin-top: 40px;
	margin-bottom: 10px;
}
form.requestInvite .success .socialLinks {
	position: relative;
	width: 100%;
	text-align: center;
}
@media only screen and (max-width: 700px) {
	form.requestInvite .success .socialLinks {
		display: none;
	}
}
form.requestInvite .success .socialLinks a.socialMedia {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 2px;
	margin-left: 2px;
}
form.requestInvite .success .socialLinks a.socialMedia.twitter {
	background-image: url(../images/contactForm/socialMediaIcon-twitter.png);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	form.requestInvite .success .socialLinks a.socialMedia.twitter {
		background-image: url(../images/contactForm/socialMediaIcon-twitter@2x.png);
		background-size: 100% 100%;
	}
}
form.requestInvite .success .socialLinks a.socialMedia.facebook {
	background-image: url(../images/contactForm/socialMediaIcon-facebook.png);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	form.requestInvite .success .socialLinks a.socialMedia.facebook {
		background-image: url(../images/contactForm/socialMediaIcon-facebook@2x.png);
		background-size: 100% 100%;
	}
}
* {
	font-family: 'omid-Regular', Montserrat;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
sup {
	font-family: inherit;
	font-weight: inherit;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
	font-family: 'omid-bold', Montserrat;
}
input {
	outline: 0;
}
.h1,
h1 {
	font-size: 24px;
	font-weight: 400;
}
@media only screen and (max-width: 700px) {
	.h1,
	h1 {
		font-size: 21px;
	}
}
.h2,
h2 {
	font-size: 18px;
	font-weight: 500;
}
@media only screen and (max-width: 700px) {
	.h2,
	h2 {
		font-size: 17px;
	}
}
.h3,
h3 {
	font-size: 15px;
}
.button,
.ui-button {
	position: relative;
}
@media only screen and (max-width: 700px) {
	.h3,
	h3 {
		font-size: 14px;
	}
}
li,
p,
ul {
	font-size: 14px;
	line-height: 1.5em;
}
@media only screen and (max-width: 700px) {
	li,
	p,
	ul {
		font-size: 14px;
	}
}
.button {
	display: block;
	height: 24px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 24px;
	border-radius: 12px;
	-webkit-tap-highlight-color: transparent;
}
.button.yellow {
	background-color: #F4C236;
}
.button.blue {
	background-color: #38A5FF;
}
.button.white {
	color: #37404A !important;
	background-color: #FFF;
}
.button.skeleton {
	font-weight: 500;
	background: 0 0;
}
@media only screen and (max-width: 700px) {
	.button {
		height: 30px;
		line-height: 30px;
		border-radius: 20px;
	}
}
a.mobileNav {
	position: relative;
	display: none;
	width: 44px;
	height: 44px;
	margin-top: -13px;
	margin-right: -13px;
	border-radius: 50%;
	-webkit-tap-highlight-color: transparent;
}
a.mobileNav::after,
a.mobileNav::before {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	content: "";
	display: block;
}
a.mobileNav::after {
	background-position: center center;
	background-repeat: no-repeat;
}
a.mobileNav::before {
	border-radius: 100%;
	opacity: 0;
}
a.mobileNav.active,
a.mobileNav.active::before,
a.mobileNav:active,
a.mobileNav:active::before {
	opacity: 1;
}
a.mobileNav.flash::after {
	-webkit-animation: pop 0.25s ease-in-out;
	animation: pop 0.25s ease-in-out;
}
a.mobileNav.flash::before {
	-webkit-animation: flash 0.25s ease-in-out;
	animation: flash 0.25s ease-in-out;
}
body {
	background-color: #F7F9FA;
}
body .rootContainer {
	position: relative;
	top: 0;
	left: 0;
}
body .rootContainer > article,
body .rootContainer > section {
	position: relative;
	overflow: hidden;
	padding: 90px 20px;
}
body .rootContainer > article nav.siteNav,
body .rootContainer > section nav.siteNav {
	position: relative;
	max-width: 900px;
	margin-right: auto;
	margin-bottom: 120px;
	margin-left: auto;
	pointer-events: none;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}
body .rootContainer > article nav.siteNav > *,
body .rootContainer > section nav.siteNav > * {
	pointer-events: all;
}
@media only screen and (max-width: 700px) {
	a.mobileNav {
		display: block;
	}
	body .rootContainer > article,
	body .rootContainer > section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	body .rootContainer > article nav.siteNav,
	body .rootContainer > section nav.siteNav {
		z-index: 1;
		margin-bottom: 60px;
	}
}
body .rootContainer > article nav.siteNav::after,
body .rootContainer > section nav.siteNav::after {
	display: block;
	height: 0;
	clear: both;
	content: "";
}
body .rootContainer > article nav.siteNav a.home,
body .rootContainer > section nav.siteNav a.home {
	position: relative;
	display: block;
	float: left;
	width: 34px;
	height: 22px;
	margin-top: 0px;
	-webkit-tap-highlight-color: transparent;
}
body .rootContainer > article nav.siteNav ul,
body .rootContainer > section nav.siteNav ul {
	position: relative;
	display: block;
	float: right;
	line-height: 19px;
	list-style-type: none;
}
body .rootContainer > article nav.siteNav ul li,
body .rootContainer > section nav.siteNav ul li {
	position: relative;
	display: inline-block;
	margin-left: 23px;
	font-size: 13px;
	font-weight: 500;
}
body .rootContainer > section nav.siteNav ul li:last-child {
	margin-left: 5px;
}
body .rootContainer > article nav.siteNav ul li a,
body .rootContainer > section nav.siteNav ul li a {
	color: inherit;
}
body .rootContainer > article nav.siteNav a.mobileNav,
body .rootContainer > section nav.siteNav a.mobileNav {
	float: right;
}
body .rootContainer > article nav.siteNav .button.skeleton,
body .rootContainer > section nav.siteNav .button.skeleton {
	height: 22px;
	padding-right: 12px;
	padding-left: 12px;
	margin-left: -3px;
	line-height: 22px;
	border-radius: 11px;
}
@media only screen and (max-width: 700px) {
	body .rootContainer > article nav.siteNav .button.skeleton,
	body .rootContainer > article nav.siteNav ul,
	body .rootContainer > section nav.siteNav .button.skeleton,
	body .rootContainer > section nav.siteNav ul {
		display: none;
	}
}
body .rootContainer > article .grid,
body .rootContainer > section .grid {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
body .rootContainer > article .copy,
body .rootContainer > section .copy {
	position: relative;
}
body .rootContainer > article .copy h1,
body .rootContainer > section .copy h1 {
	margin-bottom: 10px;
	line-height: 1.2em;
}
body .rootContainer > article .copy p:not(:last-child),
body .rootContainer > section .copy p:not(:last-child) {
	margin-bottom: 20px;
	direction: rtl;
	text-align: justify;
}
body .rootContainer > article .copy.left,
body .rootContainer > section .copy.left {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
body .rootContainer > article .copy.right,
body .rootContainer > section .copy.right {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
}
body .rootContainer > article .copy.center,
body .rootContainer > section .copy.center {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
body .rootContainer > article .copy.twoColumn,
body .rootContainer > section .copy.twoColumn {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 70px;
	-moz-column-gap: 70px;
	column-gap: 70px;
}
@media only screen and (max-width: 700px) {
	body .rootContainer > article .copy.twoColumn,
	body .rootContainer > section .copy.twoColumn {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}
}
body .rootContainer > article .copy.threeColumn,
body .rootContainer > section .copy.threeColumn {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
}
body .rootContainer > article .copy .button,
body .rootContainer > section .copy .button {
	display: inline-block;
	margin-top: 25px;
}
body .rootContainer > article .columnContainer,
body .rootContainer > section .columnContainer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
body .rootContainer > article.compact,
body .rootContainer > article.hero,
body .rootContainer > section.compact,
body .rootContainer > section.hero {
	padding-top: 32px;
}
@media only screen and (max-width: 700px) {
	body .rootContainer > article .copy.threeColumn,
	body .rootContainer > section .copy.threeColumn {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}
	body .rootContainer > article.compact,
	body .rootContainer > article.hero,
	body .rootContainer > section.compact,
	body .rootContainer > section.hero {
		padding-top: 20px;
	}
}
body .rootContainer > article.darkGray,
body .rootContainer > section.darkGray {
    /* background-color: slateblue; */
	background: #222528;
    background-attachment: scroll, scroll;
    background-image: url(../images/connector.png), url(../images/connector2.png);
    background-position: right center, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 30%, 30%;
	text-align: center;
	bottom: 3px;
}
@media only screen and (max-width: 700px) {
	body .rootContainer > article.darkGray,
	body .rootContainer > section.darkGray {
		background: #222528;
	}
}
body .rootContainer > article.darkGray nav a.home,
body .rootContainer > section.darkGray nav a.home {
	background-image: url(../images/home/home-logo.svg);
}
body .rootContainer > article.darkGray nav a.mobileNav::after,
body .rootContainer > section.darkGray nav a.mobileNav::after {
	background-image: url(../images/home/mobile-menu-overDark.svg);
}
body .rootContainer > article.darkGray nav a.mobileNav::before,
body .rootContainer > section.darkGray nav a.mobileNav::before {
	background-color: rgba(255, 255, 255, 0.1);
}
body .rootContainer > article.darkGray nav ul li,
body .rootContainer > section.darkGray nav ul li {
	color: #D7D9DB;
}
body .rootContainer > article.darkGray .h1,
body .rootContainer > article.darkGray .h2,
body .rootContainer > article.darkGray .h3,
body .rootContainer > article.darkGray .h4,
body .rootContainer > article.darkGray h1,
body .rootContainer > article.darkGray h2,
body .rootContainer > article.darkGray h3,
body .rootContainer > article.darkGray h4,
body .rootContainer > section.darkGray .h1,
body .rootContainer > section.darkGray .h2,
body .rootContainer > section.darkGray .h3,
body .rootContainer > section.darkGray .h4,
body .rootContainer > section.darkGray h1,
body .rootContainer > section.darkGray h2,
body .rootContainer > section.darkGray h3,
body .rootContainer > section.darkGray h4 {
	color: #FFF;
}
body .rootContainer > article.darkGray li,
body .rootContainer > article.darkGray p,
body .rootContainer > article.darkGray ul,
body .rootContainer > section.darkGray li,
body .rootContainer > section.darkGray p,
body .rootContainer > section.darkGray ul {
	color: rgb(145, 145, 145);
}
body .rootContainer > article.darkGray .button,
body .rootContainer > section.darkGray .button {
	color: #FFF;
}
body .rootContainer > article.darkGray .button.skeleton,
body .rootContainer > section.darkGray .button.skeleton {
	color: #FFF;
	background-color: #38A5FF;
}
body .rootContainer > article.lightGray,
body .rootContainer > section.lightGray {
	background-color: #F7F9FA;
}
body .rootContainer > article.lightGray nav a.mobileNav::after,
body .rootContainer > section.lightGray nav a.mobileNav::after {
	background-image: url(../images/home/mobile-menu-overLight.svg);
}
body .rootContainer > article.lightGray nav a.mobileNav::before,
body .rootContainer > section.lightGray nav a.mobileNav::before {
	background-color: rgba(0, 0, 0, 0.1);
}
body .rootContainer > article.lightGray nav ul li,
body .rootContainer > section.lightGray nav ul li {
	color: #888;
}
body .rootContainer > article.lightGray .h1,
body .rootContainer > article.lightGray .h2,
body .rootContainer > article.lightGray .h3,
body .rootContainer > article.lightGray .h4,
body .rootContainer > article.lightGray h1,
body .rootContainer > article.lightGray h2,
body .rootContainer > article.lightGray h3,
body .rootContainer > article.lightGray h4,
body .rootContainer > section.lightGray .h1,
body .rootContainer > section.lightGray .h2,
body .rootContainer > section.lightGray .h3,
body .rootContainer > section.lightGray .h4,
body .rootContainer > section.lightGray h1,
body .rootContainer > section.lightGray h2,
body .rootContainer > section.lightGray h3,
body .rootContainer > section.lightGray h4 {
	color: #333;
}
body .rootContainer > article.lightGray li,
body .rootContainer > article.lightGray p,
body .rootContainer > article.lightGray ul,
body .rootContainer > section.lightGray li,
body .rootContainer > section.lightGray p,
body .rootContainer > section.lightGray ul {
	color: #888;
}
body .rootContainer > article.lightGray a,
body .rootContainer > section.lightGray a {
	color: #38A5FF;
}
body .rootContainer > article.lightGray .button,
body .rootContainer > section.lightGray .button {
	color: #F7F9FA;
}
body .rootContainer > article.lightGray .button.skeleton,
body .rootContainer > section.lightGray .button.skeleton {
	color: #333 !important;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
body .rootContainer > article.lightGray .button.skeleton.blue,
body .rootContainer > section.lightGray .button.skeleton.blue {
	color: #38A5FF !important;
	box-shadow: inset 0 0 0 1px rgba(0, 156, 255, 0.1);
}
body .rootContainer > article.white,
body .rootContainer > section.white {
	direction: rtl;
	background-color: #FFF;
}
body .rootContainer > article.white nav .icon.arrow,
body .rootContainer > section.white nav .icon.arrow {
	background-image: url(../images/home/icon-arrow-grey.png);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	body .rootContainer > article.white nav .icon.arrow,
	body .rootContainer > section.white nav .icon.arrow {
		background-image: url(../images/home/icon-arrow-grey@2x.png);
		background-size: 7px 4px;
	}
}
body .rootContainer > article.white nav a.mobileNav::after,
body .rootContainer > section.white nav a.mobileNav::after {
	background-image: url(../images/home/mobile-menu-overLight.svg);
}
body .rootContainer > article.white nav a.mobileNav::before,
body .rootContainer > section.white nav a.mobileNav::before {
	background-color: rgba(0, 0, 0, 0.1);
}
body .rootContainer > article.white nav ul li,
body .rootContainer > section.white nav ul li {
	color: #888;
}
body .rootContainer > article.white .h1,
body .rootContainer > article.white .h2,
body .rootContainer > article.white .h3,
body .rootContainer > article.white .h4,
body .rootContainer > article.white h1,
body .rootContainer > article.white h2,
body .rootContainer > article.white h3,
body .rootContainer > article.white h4,
body .rootContainer > section.white .h1,
body .rootContainer > section.white .h2,
body .rootContainer > section.white .h3,
body .rootContainer > section.white .h4,
body .rootContainer > section.white h1,
body .rootContainer > section.white h2,
body .rootContainer > section.white h3,
body .rootContainer > section.white h4 {
	color: #333;
}
body .rootContainer > article.white .h1.deemphasize,
body .rootContainer > article.white .h2.deemphasize,
body .rootContainer > article.white .h3.deemphasize,
body .rootContainer > article.white .h4.deemphasize,
body .rootContainer > article.white h1.deemphasize,
body .rootContainer > article.white h2.deemphasize,
body .rootContainer > article.white h3.deemphasize,
body .rootContainer > article.white h4.deemphasize,
body .rootContainer > section.white .h1.deemphasize,
body .rootContainer > section.white .h2.deemphasize,
body .rootContainer > section.white .h3.deemphasize,
body .rootContainer > section.white .h4.deemphasize,
body .rootContainer > section.white h1.deemphasize,
body .rootContainer > section.white h2.deemphasize,
body .rootContainer > section.white h3.deemphasize,
body .rootContainer > section.white h4.deemphasize {
	color: #C6CBCF;
}
body .rootContainer > article.white li,
body .rootContainer > article.white p,
body .rootContainer > article.white ul,
body .rootContainer > section.white li,
body .rootContainer > section.white p,
body .rootContainer > section.white ul {
	color: #888;
}
body .rootContainer > article.white a,
body .rootContainer > section.white a {
	color: #38A5FF;
}
body .rootContainer > article.white .button,
body .rootContainer > section.white .button {
	color: #FFF;
}
body .rootContainer > article.white .button.skeleton,
body .rootContainer > section.white .button.skeleton {
	color: #333 !important;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
body .rootContainer > article.white .button.skeleton.blue,
body .rootContainer > section.white .button.skeleton.blue {
	color: #38A5FF !important;
	box-shadow: inset 0 0 0 1px #38A5FF;
	transition: all 0.3s ease-out;
}
body .rootContainer > article.white + .white,
body .rootContainer > section.white + .white {
	border-top: 1px solid rgba(0, 0, 0, 0.06);
}
body .rootContainer > article.bluePurple,
body .rootContainer > section.bluePurple {
	background: #AA81F3;
	background: radial-gradient(circle at bottom right, #33B1F8 0, #AA81F3 100%);
}
body .rootContainer > article.bluePurple nav .icon.arrow,
body .rootContainer > section.bluePurple nav .icon.arrow {
	background-image: url(../images/home/icon-arrow-blue.png);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	body .rootContainer > article.bluePurple nav .icon.arrow,
	body .rootContainer > section.bluePurple nav .icon.arrow {
		background-image: url(../images/home/icon-arrow-blue@2x.png);
		background-size: 7px 4px;
	}
}
body .rootContainer > article.bluePurple nav a.mobileNav::after,
body .rootContainer > section.bluePurple nav a.mobileNav::after {
	/* background-image: url(../images/home/navigation-mobile-menu-overDark.svg); */
}
body .rootContainer > article.bluePurple nav a.mobileNav::before,
body .rootContainer > section.bluePurple nav a.mobileNav::before {
	background-color: rgba(255, 255, 255, 0.1);
}
body .rootContainer > article.bluePurple nav ul li,
body .rootContainer > section.bluePurple nav ul li {
	color: rgba(255, 255, 255, 0.65);
}
body .rootContainer > article.bluePurple .h1,
body .rootContainer > article.bluePurple .h2,
body .rootContainer > article.bluePurple .h3,
body .rootContainer > article.bluePurple .h4,
body .rootContainer > article.bluePurple h1,
body .rootContainer > article.bluePurple h2,
body .rootContainer > article.bluePurple h3,
body .rootContainer > article.bluePurple h4,
body .rootContainer > section.bluePurple .h1,
body .rootContainer > section.bluePurple .h2,
body .rootContainer > section.bluePurple .h3,
body .rootContainer > section.bluePurple .h4,
body .rootContainer > section.bluePurple h1,
body .rootContainer > section.bluePurple h2,
body .rootContainer > section.bluePurple h3,
body .rootContainer > section.bluePurple h4 {
	color: #FFF;
}
body .rootContainer > article.bluePurple li,
body .rootContainer > article.bluePurple p,
body .rootContainer > article.bluePurple ul,
body .rootContainer > section.bluePurple li,
body .rootContainer > section.bluePurple p,
body .rootContainer > section.bluePurple ul {
	color: rgba(255, 255, 255, 0.65);
}
body .rootContainer > article.bluePurple .button,
body .rootContainer > section.bluePurple .button {
	color: #FFF;
}
body .rootContainer > article.bluePurple .button.skeleton,
body .rootContainer > section.bluePurple .button.skeleton {
	color: #FFF !important;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
}
body .rootContainer > footer {
	direction: rtl;
	position: relative;
	padding: 90px 20px;
}
body .rootContainer > footer .container {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
body .rootContainer > footer .container .column.legal {
	max-width: 300px;
}
body .rootContainer > footer .container .column.legal .logo {
	position: relative;
	display: block;
	width: 40px;
	height: 20px;
	margin-top: 2px;
	margin-bottom: 16px;
	-webkit-tap-highlight-color: transparent;
}
body .rootContainer > footer .container .column.legal p {
	font-size: 13px;
	line-height: 1.4em;
}
@media only screen and (max-width: 700px) {
	body .rootContainer > footer .container .column.legal p {
		font-size: 11px;
	}
}
body .rootContainer > footer .container .column.legal .button.requestInvite {
	display: inline-block;
	margin-top: 13px;
	margin-left: 0;
}
body .rootContainer > footer .container .column h3 {
	margin-bottom: 10px;
}
body .rootContainer > footer .container .column ul {
	position: relative;
	display: block;
	line-height: 1.5em;
	list-style-type: none;
}
body .rootContainer > footer .container .column ul li {
	font-size: 14px;
}
body .rootContainer > footer.anchored {
	position: absolute;
	bottom: 0;
	width: 100%;
}
body .rootContainer > footer.lightGray h3,
body .rootContainer > footer.white h3 {
	color: #333;
}
body .rootContainer > footer.lightGray .legal,
body .rootContainer > footer.lightGray ul li,
body .rootContainer > footer.white .legal,
body .rootContainer > footer.white ul li {
	color: #888;
}
body .rootContainer > footer.lightGray a.mobileNav::after,
body .rootContainer > footer.white a.mobileNav::after {
	background-image: url(../images/home/mobile-menu-overLight.svg);
}
body .rootContainer > footer.lightGray a.mobileNav::before,
body .rootContainer > footer.white a.mobileNav::before {
	background-color: rgba(0, 0, 0, 0.1);
}
body .rootContainer > footer.white {
	background-color: #FFF;
}
body .rootContainer > footer.white .button.requestInvite {
	color: #FFF;
}
body .rootContainer > footer.lightGray {
	background-color: #F2F2F2;
}
body .rootContainer > footer.lightGray .button.requestInvite {
	color: #F7F9FA;
}
.popoverContainer-more {
	/* position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-radius: 15px; */
}
@media only screen and (max-width: 700px) {
	body .rootContainer > footer .container .column.legal {
		max-width: calc(100% - 100px);
	}
	body .rootContainer > footer .container .column:not(.legal) {
		display: none;
	}
	body .rootContainer > footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.popoverContainer-more {
		left: -25%;
	}
}
.popoverContainer-more .popover-more {
	position: absolute;
	width: 330px;
	padding: 7px;
	cursor: default;
	background-color: #FFF;
	border-radius: 9px;
	opacity: 0;
	-webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
	-webkit-transform: scale(0, 0) translateZ(0);
	transform: scale(0, 0) translateZ(0);
	/* transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
	transition: transform 0.2s cubic-bezier(0.25, 0.86, 0.325, 1), opacity 0.2s cubic-bezier(0.25, 0.86, 0.325, 1);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-touch-callout: none;
	z-index: 1000000;
}
.more,
.popoverContainer-more-sub .popover-more-sub {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
}
@media only screen and (max-width: 700px) {
	.popoverContainer-more .popover-more {
		width: 250px;
	}
}
.popoverContainer-more .popover-more.visible {
	opacity: 1;
	-webkit-transform: scale(1, 1) translateZ(0);
	transform: scale(1, 1) translateZ(0);
}
.popoverContainer-more .popover-more.footnote-more {
	top: 40px;
	left: 120px;
	width: 160px;
	padding: 5px;
	direction: rtl;
}
.popoverContainer-more .popover-more.footnote-more li {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	padding: 10px 0px 10px 0px;
	font-size: 13px;
	margin-left: 0;
	font-weight: 500;
	line-height: 1.4em;
	color: #333;
}
.popoverContainer-more .popover-more.footnote-more li.hover,
.popoverContainer-more .popover-more.footnote-more li:hover {
	color: #38A5FF;
}
.popoverContainer-more .popover-more.footnote-more li.active,
.popoverContainer-more .popover-more.footnote-more li:active {
	color: #38A5FF;
}
.popoverContainer-more-sub {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-radius: 15px;
}
.popoverContainer-more-sub .popover-more-sub {
	position: absolute;
	width: 330px;
	padding: 7px;
	background-color: #FFF;
	border-radius: 9px;
	opacity: 0;
	-webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
	-webkit-transform: scale(0, 0) translateZ(0);
	transform: scale(0, 0) translateZ(0);
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	user-select: none;
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
@media only screen and (max-width: 700px) {
	.popoverContainer-more-sub {
		left: -25%;
	}
	.popoverContainer-more-sub .popover-more-sub {
		width: 250px;
	}
}
.popoverContainer-more-sub .popover-more-sub.visible {
	opacity: 1;
	-webkit-transform: scale(1, 1) translateZ(0);
	transform: scale(1, 1) translateZ(0);
}
.more-sub:active,
.more:active {
	opacity: 0.65;
}
.popoverContainer-more-sub .popover-more-sub.footnote-more-sub {
	top: 40px;
	left: 120px;
	width: 160px;
	padding: 5px;
}
.popoverContainer-more-sub .popover-more-sub.footnote-more-sub li {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	padding: 13px 13px 13px 0px;
	margin-left: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4em;
	color: #333;
	text-align: right;
}
.more .icon.arrow,
.more-sub .icon.arrow-sub {
	/* position: absolute; */
	display: inline-block;
	width: 19px;
	vertical-align: middle;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	height: 19px;
}
.popoverContainer-more-sub .popover-more-sub.footnote-more-sub li.hover,
.popoverContainer-more-sub .popover-more-sub.footnote-more-sub li:hover {
	color: #38A5FF;
}
.popoverContainer-more-sub .popover-more-sub.footnote-more-sub li.active,
.popoverContainer-more-sub .popover-more-sub.footnote-more-sub li:active {
	color: #38A5FF;
	background-color: rgba(0, 0, 0, 0.1);
}
.more {
	color: #FFF;
	cursor: pointer;
	user-select: none;
}
.more .icon.arrow {
	background-image: url(../images/home/icon-arrow.png);
	background-size: 7px 4px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.more .icon.arrow {
		background-image: url(../images/home/icon-arrow@2x.png);
		background-size: 7px 4px;
	}
}
.more .icon.arrow.rotated {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.more-sub {
	color: #888;
	cursor: pointer;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}
.more-sub .icon.arrow-sub {
	margin-top: 2px;
	background-image: url(../images/home/icon-arrow.png);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.more-sub .icon.arrow-sub {
		background-image: url(../images/home/icon-arrow@2x.png);
		background-size: 7px 4px;
	}
}
.more-sub .icon.arrow-sub.rotated {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.stickyNavigation.down {
	top: 0;
}
.stickyNavigation.down .footnote-more-sub {
	display: initial;
}
.stickyNavigation {
	position: fixed;
	top: -65px;
	right: 0;
	left: 0;
	z-index: 999;
	z-index: 2;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	transition: 0.2s top cubic-bezier(0.3, 0.73, 0.3, 0.74);
}
.stickyNavigation a.home {
	position: relative;
	display: block;
	float: left;
	width: 131px;
	height: 19px;
	margin-top: 1px;
	margin-right: 30px;
	-webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 900px) {
	.stickyNavigation {
		display: none;
	}
	.rootContainer section.faq section.twoColumn {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
.stickyNavigation .links {
	position: relative;
	max-width: 900px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.stickyNavigation .links ul {
	position: relative;
	display: block;
	float: right;
	margin-top: 1px;
	list-style: none;
}
.stickyNavigation .links ul li {
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-right: 35px;
}
.stickyNavigation .links ul li a {
	font-size: 13px;
	font-weight: 500;
	color: #888;
	transition: color 0.35s cubic-bezier(0.25, 0.86, 0.325, 1);
}
.stickyNavigation .links ul li a.selected {
	color: #38A5FF;
}
.stickyNavigation .links .button.requestInvite {
	float: right;
	font-weight: 500;
	line-height: 22px;
	color: #38A5FF !important;
	border: 1px solid #38A5FF;
}
.rootContainer section.darkGray h2 {
	margin-bottom: 20px;
	font-size: 15px;
}
.rootContainer section.hero .button.requestInvite {
	margin-top: 0;
}
.rootContainer section.hero .plansTable {
	position: relative;
	max-width: 900px;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	font-weight: normal;
	color: rgb(145, 145, 145);
}
@media only screen and (max-width: 700px) {
	.rootContainer section.hero .plansTable {
		width: 100%;
		margin-top: 70px;
		font-size: 13px;
	}
}
.rootContainer section.hero .plansTable a {
	color: #9CA0A6;
	border-bottom: 1px dotted #9CA0A6;
}
.rootContainer section.hero .plansTable .row {
	position: relative;
	height: 34px;
	margin: 5px;
	border-radius: 17px;
}
.rootContainer section.hero .plansTable .row .cell {
	font-family: 'Montserrat', omid-Regular;
	position: relative;
	float: left;
	width: 33.333%;
	height: 100%;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 35px;
	text-align: center;
}
@media only screen and (max-width: 700px) {
	.rootContainer section.hero .plansTable .row {
		border-radius: 0;
	}
	.rootContainer section.hero .plansTable .row .cell {
		width: 22.5%;
		padding-right: 5px;
		padding-left: 5px;
	}
	.rootContainer section.hero .plansTable .row .cell:first-child {
		width: 35%;
	}
	.rootContainer section.hero .plansTable .row .cell:last-child {
		width: 35%;
	}
}
.rootContainer section.hero .plansTable .row.highlight {
	color: #FFF;
	box-shadow: 0 0 1px #DDD;
	transition: all 0.5s ease-out;
}
.rootContainer section.hero .plansTable .row.highlight a {
	color: #FFF;
	border-bottom: 1px dotted #FFF;
}
.rootContainer section.hero .plansTable .row.highlight .cell .icon {
	opacity: 1;
}
.rootContainer section.hero .plansTable .row.headers {
	font-size: 13px;
}
.rootContainer section.hero .plansTable .row.plan {
	transition: all 0.3s ease-out;
	border-radius: 17px;
}
.rootContainer section.hero .plansTable .row.plan:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}
.rootContainer section.hero .plansTable .row.plan .cell:first-child {
	color: #FFF;
	text-align: left;
}
.rootContainer section.hero .plansTable .row.plan .cell:first-child .dot {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 15px;
	margin-bottom: -2px;
	border-radius: 50%;
}
@media only screen and (max-width: 700px) {
	.rootContainer section.hero .plansTable .row.headers {
		font-size: 11px;
	}
	.rootContainer section.hero .plansTable .row.plan .cell {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.rootContainer section.hero .plansTable .row.plan .cell:first-child {
		padding-left: 10px;
	}
	.rootContainer section.hero .plansTable .row.plan .cell:first-child .dot {
		margin-right: 10px;
		margin-bottom: -3px;
	}
}
.rootContainer section.hero .plansTable .row.plan .cell:first-child .dot.starter {
	background-color: #FFCB0B;
}
.rootContainer section.hero .plansTable .row.plan .cell:first-child .dot.basic {
	background-color: #D3E00A;
}
.rootContainer section.hero .plansTable .row.plan .cell:first-child .dot.standard {
	background-color: #7CD630;
}
.rootContainer section.hero .plansTable .row.plan .cell:first-child .dot.plus {
	background-color: #2DE1C5;
}
.rootContainer section.hero .plansTable .row.plan .cell:first-child .dot.premium {
	background-color: #2ABFF2;
}
.rootContainer section.hero .plansTable .row.plan .cell:first-child .dot.pro {
	background-color: #827FFF;
}
.rootContainer section.hero .plansTable .row.plan .cell:first-child .dot.enterprise {
	background-color: #AA81F3;
}
.rootContainer section.hero .costEstimator {
	/* position: relative; */
	max-width: 900px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
@media only screen and (max-width: 700px) {
	.rootContainer section.hero .costEstimator {
		margin-right: -20px;
		margin-left: -20px;
	}
}
@media only screen and (max-width: 320px) {
	.rootContainer section.hero .costEstimator h1 {
		font-size: 18px;
	}
}
.rootContainer section.hero .costEstimator.contactUs .cost h1,
.rootContainer section.hero .costEstimator.free .cost h1 {
	-webkit-transform: translateY(9px);
	-ms-transform: translateY(9px);
	transform: translateY(9px);
}
.rootContainer section.hero .costEstimator.contactUs .cost .telephonyCharges,
.rootContainer section.hero .costEstimator.free .cost .telephonyCharges {
	pointer-events: none;
	opacity: 0;
}
.rootContainer section.hero .costEstimator .cost .telephonyCharges .info:active,
.rootContainer section.hero section.copy.center.footnote .why:active {
	opacity: 0.65;
}
.rootContainer section.hero .costEstimator.free .cost,
.rootContainer section.hero .costEstimator.free .tasks {
	-webkit-transform: translateX(60px);
	-ms-transform: translateX(60px);
	transform: translateX(60px);
}
.rootContainer section.hero .costEstimator.contactUs .cost,
.rootContainer section.hero .costEstimator.contactUs .tasks {
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
}
.rootContainer section.hero .costEstimator .cost,
.rootContainer section.hero .costEstimator .tasks {
	position: relative;
	display: inline-block;
	margin-top: 50px;
	transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.86, 0.325, 1);
	transition: transform 0.25s cubic-bezier(0.25, 0.86, 0.325, 1);
}
.rootContainer section.hero .costEstimator .cost h1,
.rootContainer section.hero .costEstimator .tasks h1 {
	font-family: 'Montserrat', omid-Regular;
	margin-bottom: 5px;
}
.rootContainer section.hero .costEstimator .tasks {
	padding-right: 15px;
	text-align: right;
	border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.rootContainer section.hero .costEstimator .cost {
	padding-left: 15px;
	text-align: left;
}
.rootContainer section.hero .costEstimator .cost h1 {
	transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.86, 0.325, 1);
	transition: transform 0.25s cubic-bezier(0.25, 0.86, 0.325, 1);
}
.rootContainer section.hero .costEstimator .cost sup {
	display: inline-block;
}
.rootContainer section.hero .costEstimator .cost .telephonyCharges {
	transition: opacity 0.25s cubic-bezier(0.25, 0.86, 0.325, 1);
}
.rootContainer section.hero .costEstimator .cost .telephonyCharges .info {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
	margin-left: 6px;
	cursor: pointer;
	background-image: url(../images/home/costInfoButton.svg);
	background-position: center center;
	background-repeat: no-repeat;
}
.rootContainer section.hero .costEstimator .slider {
	position: relative;
	width: 100%;
	height: 12px;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
	background: linear-gradient(to right, #D3E00A 0, #83D238 28%, #0FC0EA 56%, #B376FF 90%);
	border-radius: 7px;
	-webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 700px) {
	.rootContainer section.hero .costEstimator .cost .telephonyCharges .info {
		display: none;
	}
	.rootContainer section.hero .costEstimator .slider {
		width: calc(100% - 80px);
	}
	.rootContainer section.hero .costEstimator .slider .handle {
		width: 30px;
		height: 30px;
		margin-top: -16px;
		margin-left: -16px;
	}
}
.rootContainer section.hero .costEstimator .slider .handle {
	position: absolute;
	top: 50%;
	left: 15.25%;
	width: 30px;
	height: 30px;
	margin-top: -16px;
	margin-left: -16px;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	background-color: #FFF;
	background-image: url(../images/home/sliderHandleIcon.svg);
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.5);
}
.rootContainer section.hero .costEstimator .slider .handle:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}
.rootContainer section.hero .costEstimator .slider .handle.pulsate {
	-webkit-animation: Pulsate 1.75s ease infinite;
	animation: Pulsate 1.75s ease infinite;
}
@-webkit-keyframes Pulsate {
	0%, 10% {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 0 #FFF;
	}
	100%, 90% {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 255, 255, 0);
	}
}
@keyframes Pulsate {
	0%, 10% {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 0 #FFF;
	}
	100%, 90% {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 255, 255, 0);
	}
}
.rootContainer section.hero .costEstimator .slider .breakdown {
	font-weight: 400;
	transition: all 0.3s ease-out;
}
.rootContainer section.hero .costEstimator .slider .breakdown p {
	font-family: 'Montserrat', omid-regular;
	font-size: 15px;
	margin-top: 5px;
	color: #FFF;
	transition: all 0.3s ease-out;
}
.rootContainer section.hero section.copy.center.footnote {
	margin-top: 30px;
}
.rootContainer section.hero section.copy.center.footnote p {
	font-size: 13px;
}
.rootContainer section.hero section.copy.center.footnote .footnote-link a {
	padding-bottom: 2px;
	border-bottom: 1px dotted #9CA0A6;
}
.rootContainer section.hero section.copy.center.footnote .why {
	/* position: relative; */
	display: inline-block;
	color: #FFF;
	cursor: pointer;
}
.rootContainer section.hero .popoverContainer {
	/* position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	pointer-events: none;
	text-align: justify;
	border-radius: 15px; */
}
.rootContainer section.hero .popoverContainer .popover {
	position: absolute;
	width: 330px;
	padding: 7px;
	background-color: #FFF;
	border-radius: 9px;
	opacity: 0;
	-webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
	-webkit-transform: scale(0, 0) translateZ(0);
	transform: scale(0, 0) translateZ(0);
	transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.86, 0.325, 1), opacity 0.2s cubic-bezier(0.25, 0.86, 0.325, 1);
	transition: transform 0.2s cubic-bezier(0.25, 0.86, 0.325, 1), opacity 0.2s cubic-bezier(0.25, 0.86, 0.325, 1);
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	z-index: 1000;
}
@media only screen and (max-width: 700px) {
	.rootContainer section.hero .costEstimator .slider .breakdown p {
		margin-right: 50%;
	}
	.rootContainer section.hero .popoverContainer {
		left: -25%;
	}
	.rootContainer section.hero .popoverContainer .popover {
		width: 250px;
	}
	.rootContainer section.hero .popoverContainer .popover .arrow {
		display: none;
	}
}
.rootContainer section.hero .popoverContainer .popover.visible {
	direction: rtl;
	opacity: 1;
	-webkit-transform: scale(1, 1) translateZ(0);
	transform: scale(1, 1) translateZ(0);
}
.rootContainer section.hero .popoverContainer .popover .arrow {
	position: absolute;
	bottom: -10px;
	left: 50%;
	z-index: 1;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color: inherit;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rootContainer section.hero .popoverContainer .popover.footnote,
.rootContainer section.hero .popoverContainer .popover.telephony {
	padding: 15px;
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag:before {
	position: relative;
	top: -1px;
	display: inline-block;
	width: 16px;
	height: 12px;
	margin-left: 7px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: 16px 12px;
	content: "";
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag.usa:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag.usa:before {
	background-image: url(../images/pricing/usa@2x.png);
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag.canada:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag.canada:before {
	background-image: url(../images/pricing/canada@2x.png);
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag.uk:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag.uk:before {
	background-image: url(../images/pricing/uk@2x.png);
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag.australia:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag.australia:before {
	background-image: url(../images/pricing/australia@2x.png);
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag.france:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag.france:before {
	background-image: url(../images/pricing/france@2x.png);
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag.finland:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag.finland:before {
	background-image: url(../images/pricing/finland@2x.png);
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag.sweden:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag.sweden:before {
	background-image: url(../images/pricing/sweden@2x.png);
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag.germany:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag.germany:before {
	background-image: url(../images/pricing/germany@2x.png);
}
.rootContainer section.hero .popoverContainer .popover.footnote .flag.southafrica:before,
.rootContainer section.hero .popoverContainer .popover.telephony .flag.southafrica:before {
	background-image: url(../images/pricing/southafrica@2x.png);
}
.rootContainer section.hero .popoverContainer .popover.footnote p.southafrica,
.rootContainer section.hero .popoverContainer .popover.telephony p.southafrica {
	margin-bottom: 0;
}
.rootContainer section.hero .popoverContainer .popover.footnote .copy p,
.rootContainer section.hero .popoverContainer .popover.telephony .copy p {
	position: relative;
	z-index: 2;
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4em;
	color: #333;
}
.rootContainer section.hero .popoverContainer .popover.footnote a,
.rootContainer section.hero .popoverContainer .popover.telephony a {
	color: #38A5FF;
}
.rootContainer section.faq {
	text-align: center;
}
.rootContainer section.faq section.twoColumn {
	margin-top: 50px;
	margin-bottom: 40px;
	text-align: right;
}
.rootContainer section.faq section.twoColumn h2 {
	margin-bottom: 10px;
}
.rootContainer section.faq section.twoColumn h2:not(:first-child) {
	margin-top: 50px;
}
.rootContainer section.faq section.twoColumn p {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	text-align: justify;
}
.rootContainer section.faq section.twoColumn p:not(:last-child) {
	margin-bottom: 50px;
}
.rootContainer section.faq a.button.blue.learnMore {
	display: inline-block;
}
#cta-button,
#cta-button-learnMore {
	position: relative;
	display: inline-block;
	max-width: 100%;
	min-width: 200px;
	min-height: 35px;
	padding: 6px 40px;
	border-radius: 20px;
	margin: 10px auto 30px;
}
#cta-section {
	padding-top: 0;
	padding-bottom: 60px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	text-align: center;
	border: none;
}
@media only screen and (max-width: 700px) {
	#cta-button {
		padding: 2px 40px;
	}
	#cta-button-learnMore {
		min-width: 0;
		padding: 4px 40px;
	}
	.hideOnMobile {
		display: none !important;
	}
}
@media only screen and (max-width: 320px) {
	#cta-button {
		min-width: 0;
		padding: 0 40px;
	}
	#cta-button-learnMore {
		min-width: 0;
		padding: 0 15px;
	}
}
.handle-tooltip {
	position: absolute;
	top: 100%;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
}
