:root {
    --grid-gap: 4px;
}

:root {
    --xs-viewport: 416px;
    --sm-viewport: 672px;
    --md-viewport: 880px;
    --lg-viewport: 1196px;
    --gray100: #3A4554;
    --gray200: #5C6D82;
    --gray300: #76879D;
    --gray400: #93A3B7;
    --gray500: #ADBBCC;
    --gray600: #C7D1DF;
    --gray700: #DCE3EC;
    --gray800: #E9EDF2;
    --gray850: #EDF1F5;
    --gray900: #F5F7FA;
    --orange100: #AB710C;
    --orange200: #CF880E;
    --orange300: #EB9B10;
    --orange400: #FCA919;
    --orange500: #FFB73B;
    --orange600: #FFC852;
    --orange700: #FFD970;
    --orange800: #FFE796;
    --orange900: #FFF0BD;
    --yellow100: #A37500;
    --yellow200: #C79500;
    --yellow300: #E6B105;
    --yellow400: #F5C800;
    --yellow500: #FFD724;
    --yellow600: #FFE159;
    --yellow700: #FFE987;
    --yellow800: #FFF0AB;
    --yellow900: #FFF7D4;
    --teal100: #238087;
    --teal200: #2CA2AB;
    --teal300: #32B8C2;
    --teal400: #3DCAD4;
    --teal500: #55DCE6;
    --teal600: #68EEF7;
    --teal700: #90F5FC;
    --teal800: #BAFAFF;
    --teal900: #DEFDFF;
    --blue100: #256DA8;
    --blue200: #2C83C9;
    --blue300: #3293E3;
    --blue400: #38A5FF;
    --blue500: #6BBCFF;
    --blue600: #94CFFF;
    --blue700: #B0E5FF;
    --blue800: #CCEEFF;
    --blue900: #E3F6FF;
    --purple100: #7249BA;
    --purple200: #875BD4;
    --purple300: #9B68F2;
    --purple400: #AA81F3;
    --purple500: #BC99F7;
    --purple600: #CDB0FF;
    --purple700: #DDC9FF;
    --purple800: #EADEFF;
    --purple900: #F5F0FF;
    --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
    --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
    --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
    --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
    --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
    --ease-in-circ: cubic-bezier(.6, .04, .98, .335);
    --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
    --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
    --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
    --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
    --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
    --ease-out-circ: cubic-bezier(.075, .82, .165, 1);
    --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
    --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
    --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
    --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
    --content-width: 1196px;
    --max-text-width: 784px;
    --grid-gap: 4px;
    --scrollbar-mask-height: 10px;
    --layout-padding-x: 24px;
    --layout-padding-y-xs: 24px;
    --layout-padding-y-sm: 32px;
    --layout-padding-y-md: 48px;
    --layout-padding-y-lg: 64px;
    --layout-padding-y-site-nav: 128px;
    --layout-padding-xs: 24px 24px;
    --layout-padding-xs: var(--layout-padding-y-xs) var(--layout-padding-x);
    --layout-padding-sm: 32px 24px;
    --layout-padding-sm: var(--layout-padding-y-sm) var(--layout-padding-x);
    --layout-padding-md: 48px 24px;
    --layout-padding-md: var(--layout-padding-y-md) var(--layout-padding-x);
    --layout-padding-lg: 64px 24px;
    --layout-padding-lg: var(--layout-padding-y-lg) var(--layout-padding-x);
}

@media (min-width: 416px) {
    :root {
        --layout-padding-x: 40px;
        --layout-padding-y-xs: 40px;
        --layout-padding-y-sm: 56px;
        --layout-padding-y-md: 80px;
        --layout-padding-y-lg: 112px;
        --layout-padding-y-site-nav: 160px;
    }
}

:root {
    --clipping-mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

:root {
    --fakt-pro: 'Fakt Pro';
    --font-weight-air: 25;
    --font-weight-hair: 50;
    --font-weight-thin: 100;
    --font-weight-light: 200;
    --font-weight-blond: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 800;
}

span {
    font-weight: inherit;
}

svg {
    display: block;
}

.common-NoLigatures {
    -webkit-font-feature-settings: none;
    -moz-font-feature-settings: none;
    font-feature-settings: none;
    -webkit-font-variant-ligatures: none;
    -moz-font-variant-ligatures: none;
    font-variant-ligatures: none;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
}

.common-PageContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1196px);
    grid-template-columns: minmax(0, 1196px);
    grid-template-columns: minmax(0, 1196px);
    -ms-grid-columns: minmax(0, var(--content-width));
    grid-template-columns: minmax(0, var(--content-width));
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 4px;
    grid-gap: 4px;
    grid-gap: var(--grid-gap);
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
}

.common-Header2 {
    font-family: 'Montserrat', omid-Regular;
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-weight: 500;
    font-weight: var(--font-weight-medium);
    color: #3A4554;
    color: #3A4554;
    color: var(--gray100);
    max-width: 784px;
    max-width: 784px;
    max-width: var(--max-text-width);
}

.common-Header2:not(:last-child) {
    margin-bottom: 24px;
}

@media (min-width: 416px) {
    .common-Header2 {
        font-size: 38px;
        line-height: 44px;
    }
}

@media (min-width: 880px) {
    .common-Header2 {
        font-size: 42px;
        line-height: 48px;
    }
}

.common-Header3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    font-weight: 500;
    font-weight: var(--font-weight-medium);
    color: #3A4554;
    color: #3A4554;
    color: var(--gray100);
    max-width: 784px;
    max-width: 784px;
    max-width: var(--max-text-width);
}

@media (min-width: 416px) {
    .common-Header3 {
        font-size: 25px;
        line-height: 32px;
    }
}

@media (min-width: 880px) {
    .common-Header3 {
        font-size: 28px;
        line-height: 36px;
    }
}

.common-Header4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-weight: 500;
    font-weight: var(--font-weight-medium);
    color: #3A4554;
    color: #3A4554;
    color: var(--gray100);
    max-width: 784px;
    max-width: 784px;
    max-width: var(--max-text-width);
}

.common-Header4:not(:last-child) {
    margin-bottom: 8px;
}

@media (min-width: 416px) {
    .common-Header4 {
        font-size: 20px;
        line-height: 28px;
    }
    
    .common-Header4:not(:last-child) {
        margin-bottom: 12px;
    }
}

@media (min-width: 880px) {
    .common-Header4 {
        font-size: 22px;
        line-height: 32px;
    }
}

.common-Body2 {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    font-weight: 400;
    font-weight: var(--font-weight-normal);
    color: #76879D;
    color: #76879D;
    color: var(--gray300);
    max-width: 784px;
    max-width: 784px;
    max-width: var(--max-text-width);
}

.common-Body2:not(:last-child) {
    margin-bottom: 16px;
}

@media (min-width: 880px) {
    .common-Body2 {
        font-size: 18px;
        line-height: 28px;
    }
}

.common-Body3 {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    font-weight: 400;
    font-weight: var(--font-weight-normal);
    color: #93A3B7;
    color: #93A3B7;
    color: var(--gray400);
    max-width: 784px;
    max-width: 784px;
    max-width: var(--max-text-width);
}

.common-Body3:not(:last-child) {
    margin-bottom: 8px;
}

.common-Layout {
    position: relative;
}

@supports ((-webkit-scroll-snap-type: mandatory) or (-ms-scroll-snap-type: mandatory) or (scroll-snap-type: mandatory)) {
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
}

@media (max-width: 671px) {
    @supports ((-webkit-scroll-snap-type: mandatory) or (-ms-scroll-snap-type: mandatory) or (scroll-snap-type: mandatory)) {
    }
}

@media (max-width: 707px) {
    @supports ((-webkit-scroll-snap-type: mandatory) or (-ms-scroll-snap-type: mandatory) or (scroll-snap-type: mandatory)) {
    }
}

body.pricing {
    overflow-x: visible;
}

body.pricing #plansOverview {
    --pricing-plansOverview-4col: 1148px;
    --pricing-plansOverview-2col: 572px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    grid-gap: var(--grid-gap);
}

body.pricing #plansOverview .plan .common-LayoutCellContent {
    height: 100%;
    padding: 32px 24px;
    padding: 32px 24px;
    padding: var(--layout-padding-sm);
}

@media (min-width: 416px) {
    body.pricing #plansOverview .plan .common-LayoutCellContent {
        padding: 32px 24px;
        padding: var(--layout-padding-sm);
    }
}

@media (min-width: 416px) {
    body.pricing #plansOverview .plan .common-LayoutCellContent {
        padding: 32px 24px;
        padding: var(--layout-padding-sm);
    }
}

body.pricing #plansOverview .plan .common-Header2 {
    color: #FFF;
    margin-bottom: 0;
}

body.pricing #plansOverview .plan .common-Header3 {
    color: #FFF;
    vertical-align: top;
}

body.pricing #plansOverview .plan .common-Header4 {
    color: #FFF;
}

body.pricing #plansOverview .plan .common-Body2 {
    color: #FFF;
    margin-top: 12px;
}

body.pricing #plansOverview .plan .common-Body3 {
    margin-bottom: 0;
}

body.pricing #plansOverview .plan .mostPopular {
    margin: 32px -24px -32px;
    margin: 32px -24px -32px;
    margin: var(--layout-padding-y-sm) -webkit-calc(var(--layout-padding-x)*-1) -webkit-calc(var(--layout-padding-y-sm)*-1);
    margin: var(--layout-padding-y-sm) -moz-calc(var(--layout-padding-x)*-1) -moz-calc(var(--layout-padding-y-sm)*-1);
    margin: var(--layout-padding-y-sm) calc(var(--layout-padding-x)*-1) calc(var(--layout-padding-y-sm)*-1);
    padding: 12px 24px;
    padding: 12px 24px;
    padding: 12px var(--layout-padding-x);
    color: #FFF !important;
    font-weight: 500;
    font-weight: 500;
    font-weight: var(--font-weight-medium);
}

@media (min-width: 416px) {
    body.pricing #plansOverview .plan .mostPopular {
        padding: 12px 40px;
        padding: 12px var(--layout-padding-x);
    }
}

@media (min-width: 416px) {
    body.pricing #plansOverview .plan .mostPopular {
        margin: 56px -40px -56px;
        margin: var(--layout-padding-y-sm) -webkit-calc(var(--layout-padding-x)*-1) -webkit-calc(var(--layout-padding-y-sm)*-1);
        margin: var(--layout-padding-y-sm) -moz-calc(var(--layout-padding-x)*-1) -moz-calc(var(--layout-padding-y-sm)*-1);
        margin: var(--layout-padding-y-sm) calc(var(--layout-padding-x)*-1) calc(var(--layout-padding-y-sm)*-1);
    }
}

@media (min-width: 416px) {
    body.pricing #plansOverview .plan .mostPopular {
        margin: 56px -40px -56px;
        margin: var(--layout-padding-y-sm) -webkit-calc(var(--layout-padding-x)*-1) -webkit-calc(var(--layout-padding-y-sm)*-1);
        margin: var(--layout-padding-y-sm) -moz-calc(var(--layout-padding-x)*-1) -moz-calc(var(--layout-padding-y-sm)*-1);
        margin: var(--layout-padding-y-sm) calc(var(--layout-padding-x)*-1) calc(var(--layout-padding-y-sm)*-1);
    }
}

@media (min-width: 416px) {
    body.pricing #plansOverview .plan .mostPopular {
        margin: 56px -40px -56px;
        margin: var(--layout-padding-y-sm) -webkit-calc(var(--layout-padding-x)*-1) -webkit-calc(var(--layout-padding-y-sm)*-1);
        margin: var(--layout-padding-y-sm) -moz-calc(var(--layout-padding-x)*-1) -moz-calc(var(--layout-padding-y-sm)*-1);
        margin: var(--layout-padding-y-sm) calc(var(--layout-padding-x)*-1) calc(var(--layout-padding-y-sm)*-1);
    }
}

@media (min-width: 416px) {
    body.pricing #plansOverview .plan .mostPopular {
        margin: 56px -40px -56px;
        margin: var(--layout-padding-y-sm) -webkit-calc(var(--layout-padding-x)*-1) -webkit-calc(var(--layout-padding-y-sm)*-1);
        margin: var(--layout-padding-y-sm) -moz-calc(var(--layout-padding-x)*-1) -moz-calc(var(--layout-padding-y-sm)*-1);
        margin: var(--layout-padding-y-sm) calc(var(--layout-padding-x)*-1) calc(var(--layout-padding-y-sm)*-1);
    }
}

body.pricing #plansOverview .plan .mostPopular svg {
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 8px;
    fill: #fff;
}

body.pricing #plansOverview .plan.starter {
    background-color: #E6B105;
    background-color: #E6B105;
    background-color: var(--yellow300);
}

body.pricing #plansOverview .plan.starter .common-Body3 {
    color: #FFF7D4;
    color: #FFF7D4;
    color: var(--yellow900);
}

body.pricing #plansOverview .plan.basic {
    background-color: #3DCAD4;
    background-color: #3DCAD4;
    background-color: var(--teal400);
}

body.pricing #plansOverview .plan.basic .common-Body3 {
    color: #DEFDFF;
    color: #DEFDFF;
    color: var(--teal900);
}

body.pricing #plansOverview .plan.premium {
    background-color: #38A5FF;
    background-color: #38A5FF;
    background-color: var(--blue400);
}

body.pricing #plansOverview .plan.premium .common-Body3 {
    color: #E3F6FF;
    color: #E3F6FF;
    color: var(--blue900);
}

body.pricing #plansOverview .plan.premium .mostPopular {
    background-color: #3293E3;
    background-color: #3293E3;
    background-color: var(--blue300);
}

body.pricing #plansOverview .plan.professional {
    background-color: #AA81F3;
    background-color: #AA81F3;
    background-color: var(--purple400);
}

body.pricing #plansOverview .plan.professional .common-Body3 {
    color: #F5F0FF;
    color: #F5F0FF;
    color: var(--purple900);
}

.common-LayoutCell {
    position: relative;
    overflow: hidden;
}

.common-LayoutCellContent {
    position: relative;
    width: 100%;
    padding: 64px 24px;
    padding: var(--layout-padding-lg);
}

@media (min-width: 416px) {
    .common-LayoutCellContent {
        padding: 64px 24px;
        padding: var(--layout-padding-lg);
    }
}

@media (min-width: 416px) {
    .common-LayoutCellContent {
        padding: 64px 24px;
        padding: var(--layout-padding-lg);
    }
}

body.pricing #plansOverview .common-LayoutCell {
    grid-column: 1 / -1;
}

@media (min-width: 1196px) {
    body.pricing #plansOverview .common-LayoutCell:nth-child(4n-3) {
        margin-left: -webkit-calc((100vw - 1196px)/ 2*-1);
        margin-left: -moz-calc((100vw - 1196px)/ 2*-1);
        margin-left: calc((100vw - 1196px)/ 2*-1);
        margin-left: -webkit-calc((100vw - var(--content-width))/ 2*-1);
        margin-left: -moz-calc((100vw - var(--content-width))/ 2*-1);
        margin-left: calc((100vw - var(--content-width))/ 2*-1);
    }
    
    body.pricing #plansOverview .common-LayoutCell:nth-child(4n) {
        margin-right: -webkit-calc((100vw - 1196px)/ 2*-1);
        margin-right: -moz-calc((100vw - 1196px)/ 2*-1);
        margin-right: calc((100vw - 1196px)/ 2*-1);
        margin-right: -webkit-calc((100vw - var(--content-width))/ 2*-1);
        margin-right: -moz-calc((100vw - var(--content-width))/ 2*-1);
        margin-right: calc((100vw - var(--content-width))/ 2*-1);
    }
}

@media (min-width: 572px) {
    body.pricing #plansOverview {
        -ms-grid-columns: minmax(284px, 1fr) minmax(284px, 1fr);
        grid-template-columns: minmax(284px, 1fr) minmax(284px, 1fr);
    }
    
    body.pricing #plansOverview .common-LayoutCell:nth-child(2n+1) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
    }
    
    body.pricing #plansOverview .common-LayoutCell:nth-child(2n+2) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
    }
}

@media (min-width: 1148px) {
    body.pricing #plansOverview {
        -ms-grid-columns: minmax(284px, 1fr) minmax(284px, 1fr) minmax(284px, 1fr) minmax(284px, 1fr);
        grid-template-columns: minmax(284px, 1fr) minmax(284px, 1fr) minmax(284px, 1fr) minmax(284px, 1fr);
    }
    
    body.pricing #plansOverview .common-LayoutCell:nth-child(4n+1) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
    }
    
    body.pricing #plansOverview .common-LayoutCell:nth-child(4n+2) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
    }
    
    body.pricing #plansOverview .common-LayoutCell:nth-child(4n+3) {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4;
    }
    
    body.pricing #plansOverview .common-LayoutCell:nth-child(4n+4) {
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        grid-column: 4 / 5;
    }
}
