@function top-shadow($depth) {
	$primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
	$blur: nth(1.5 3 10 14 19, $depth) * 4px;
	$color: rgba(black, nth(0.12 0.16 0.19 0.25 0.3, $depth));
	@return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth) {
	$primary-offset: nth(1 2 4 10 15, $depth) * 1px;
	$blur: nth(1 3 3 5 6, $depth) * 2px;
	$color: rgba(black, nth(0.15 0.23 0.23 0.22 0.22, $depth));
	@return 0 $primary-offset $blur $color;
}

@function get-col-percent($column-num) {
	@return $column-num / $columns * 100%;
}

@function base($number) {
	@return #{$number * $ms-baseline};
}

@function color-yiq($color) {
	$r: red($color);
	$g: green($color);
	$b: blue($color);

	$yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

	@if ($yiq >= $yiq-contrasted-threshold) {
		@return $yiq-text-dark;
	} @else {
		@return $yiq-text-light;
	}
}

@function theme-color($key: 'primary') {
	@return map-get($theme-colors, $key);
}
// Request a theme color level
@function theme-color-level($color-name: 'primary', $level: 0) {
	$color: theme-color($color-name);
	$theme-color-interval: 8%;
	$color-base: if($level > 0, #000, #fff);
	$level: abs($level);

	@return mix($color-base, $color, $level * $theme-color-interval);
}
