.input {
	appearance: none; // box-sizing: border-box;
	// width: 100%;
	// margin: 0 0 .9rem;
	// padding: .6rem;
	// background: #fff;
	// border: 1px solid #bbb;
	// box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05);
	// border-radius: 0;
	// outline: none;
	// resize: vertical;
	// transition: border-color .3s ease
	font-family: $font-head;
	width: 100%;
	min-height: 34px;
	padding: 8px 10px;
	font-size: 13px;
	line-height: 20px;
	color: #24292e;
	background-color: #fff;
	border: 1px solid #d1d5da;
	border-radius: $radius;
	outline: none;
	// box-shadow: 0 1px 2px rgba(27, 31, 35, 0.075);

	@include placeholder {
		color: #888;
	}

	&.small {
		padding: 6px 12px;
		line-height: 18px;
		min-height: auto;
		width: auto;
		min-width: 50px;
	}

	&[type='email'],
	&[dir='ltr'] {
		direction: rtl;

		&:focus {
			direction: ltr;
			text-align: left;

			@include placeholder {
				color: #fff;
			}
		}

		&:not(:placeholder-shown) {
			direction: ltr;
			text-align: left;
		}
	}

	&+.validate-error {
		margin-top: 0.5rem;
	}
}

.label {
	display: block;
	font-weight: 400;
	font-size: 0.9rem;
	margin: 0 0 0.25rem;
	// color: #5e6971;
}

.input[disabled],
.input[readonly] {
	border-color: #c8c8c8;
	background-color: #f8f8f8;
	box-shadow: none;
	cursor: not-allowed;
}

.input:focus {
	// border-color: lighten(desaturate($color: ($primary), $amount: 10), 5);
	border-color: $primary;
}

select.input {
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M6.37 7.222a.858.858 0 0 0 .605.258.832.832 0 0 0 .603-.258L13.032 1.7a.874.874 0 0 0 0-1.229.848.848 0 0 0-1.214 0L7.833 4.513l-.884.797-.832-.797L2.125.47a.848.848 0 0 0-1.214 0 .874.874 0 0 0 0 1.23l5.46 5.521z' fill='%23A0A9B1' fill-rule='nonzero'/%3E %3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 10px center;
	// box-shadow: 0 1px 2px rgba(27, 31, 35, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.1);
	// background-color: #f9fafb;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;

	&[dir='ltr'] {
		padding-left: 2rem;
	}
}

.textarea {
	@extend .input;
	display: block;
	word-break: break-word;
	resize: none;
}


.validate-error {
	display: table;
	border-color: #ff556a;
	padding: 2px 10px 2px;
	border-radius: $radius;
	font-weight: 400;
	font-size: 0.85rem;
	color: #ff566a;
	background-color: rgba(#ff566a, 0.15);
}

.form-required {
	color: $danger;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.25em;
	margin-right: 0.35em;
	line-height: 1.2;
	font-family: monospace;
}

.btn {
	display: inline-block;
	font-family: $font-head;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.25rem 1rem 0.4rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 5px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&:focus,
	&.focus {
		outline: 0; // box-shadow: $btn-focus-box-shadow;
	}

	// Disabled comes first so active can properly restyle
	&.disabled,
	&:disabled {
		opacity: 0.1;
	}

	// Opinionated: add "hand" cursor to non-disabled .btn elements
	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}

	&+& {
		margin-right: 0.5rem;
	}
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}


.control__input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.control__label {
	display: block;
	position: relative;
	will-change: transform;
	font-size: 1rem;
	user-select: none;
	cursor: pointer;
	z-index: 1;
}

.control__label::before {
	border: 1px solid transparent;
}

.control__label::after,
.control__label::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}

.control__label::after {
	border: 1px solid transparent;
}

.control__label::before {
	border-color: rgba(27, 31, 35, 0.24);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	background: #fff;
	background-size: 0;
}

.control__label::after {
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	transform: scale(0);
	transition: transform 0.1s ease;
	will-change: transform;
}

.control__input[type='radio']+.control__label::before {
	border-radius: 100%;
}

.control__input[type='radio']+.control__label::after {
	background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23bc4141%22%20d%3D%22M256%2C464c114.9%2C0%2C208-93.1%2C208-208c0-114.9-93.1-208-208-208C141.1%2C48%2C48%2C141.1%2C48%2C256C48%2C370.9%2C141.1%2C464%2C256%2C464z%22/%3E%3C/svg%3E);
}

.control__input[type='checkbox']+.control__label::after {
	background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23bc4141%22%20d%3D%22M461.6%2C109.6l-54.9-43.3c-1.7-1.4-3.8-2.4-6.2-2.4c-2.4%2C0-4.6%2C1-6.3%2C2.5L194.5%2C323c0%2C0-78.5-75.5-80.7-77.7c-2.2-2.2-5.1-5.9-9.5-5.9c-4.4%2C0-6.4%2C3.1-8.7%2C5.4c-1.7%2C1.8-29.7%2C31.2-43.5%2C45.8c-0.8%2C0.9-1.3%2C1.4-2%2C2.1c-1.2%2C1.7-2%2C3.6-2%2C5.7c0%2C2.2%2C0.8%2C4%2C2%2C5.7l2.8%2C2.6c0%2C0%2C139.3%2C133.8%2C141.6%2C136.1c2.3%2C2.3%2C5.1%2C5.2%2C9.2%2C5.2c4%2C0%2C7.3-4.3%2C9.2-6.2L462%2C121.8c1.2-1.7%2C2-3.6%2C2-5.8C464%2C113.5%2C463%2C111.4%2C461.6%2C109.6z%22/%3E%3C/svg%3E);
}

.control__input[type='checkbox'][disabled]+.control__label,
.control__input[type='radio'][disabled]+.control__label {
	cursor: not-allowed;
}

.control__input {
	&:checked+.control__label::before {
		border-color: $primary;
		background: $primary;
	}
	&[type='checkbox']+.control__label {
		&:before {
			transition: 0.2s ease-in-out;
		} // 	border-color: #38a066;
		// 	background: #38a066;
		// }
		&:after {
			background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M461.6%2C109.6l-54.9-43.3c-1.7-1.4-3.8-2.4-6.2-2.4c-2.4%2C0-4.6%2C1-6.3%2C2.5L194.5%2C323c0%2C0-78.5-75.5-80.7-77.7c-2.2-2.2-5.1-5.9-9.5-5.9c-4.4%2C0-6.4%2C3.1-8.7%2C5.4c-1.7%2C1.8-29.7%2C31.2-43.5%2C45.8c-0.8%2C0.9-1.3%2C1.4-2%2C2.1c-1.2%2C1.7-2%2C3.6-2%2C5.7c0%2C2.2%2C0.8%2C4%2C2%2C5.7l2.8%2C2.6c0%2C0%2C139.3%2C133.8%2C141.6%2C136.1c2.3%2C2.3%2C5.1%2C5.2%2C9.2%2C5.2c4%2C0%2C7.3-4.3%2C9.2-6.2L462%2C121.8c1.2-1.7%2C2-3.6%2C2-5.8C464%2C113.5%2C463%2C111.4%2C461.6%2C109.6z%22/%3E%3C/svg%3E);
		}
	}
}

.control__input[type='checkbox'][disabled]+.control__label::before,
.control__input[type='radio'][disabled]+.control__label::before {
	border-color: #c8c8c8;
	background-color: #f2f2f2;
	box-shadow: none;
}

.control__input:checked+.control__label::after {
	transform: scale(1);
}



.input-border {
	display: block;
	position: relative;
	.text-danger {
		display: block;
		font-size: 13px;
		color: #FF566A;
		margin-bottom: 1.5em;
	}
	> input, 
	> select, 
	> textarea {
		position: relative;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 0;
		color: #000;
		outline: none;
		height: 45px;
		font-family: $font-head;
		line-height: 20px;
		width: 100%;
		border-radius: 8px;
		max-width: 100%;
		font-size: 1rem;
		margin-bottom: 0.5rem;
		padding: 0 1rem;
		box-shadow: none;
		transition: all 0.3s;
		&.error {
			border-color: #FF556A;
			color: #FF566A;
			&:valid + div {
				opacity: 0;
			}
		}
		&[disabled] {
			background: #f9f9f9;
			color: #777;
			border: 1px solid #DFDFDF;
			user-select: none;
			cursor: not-allowed;

			+ div {

				&:before{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					content: '';
					background: #f9f9f9;
					height: 50%;
					z-index: -1;
				}
			}
		}
		// &.filled + div {
		// 	transform: translateY(-22px) translateX(8px) scale(0.86);
		// 	background-color: #fff;
		// }
		&[type=email],
		&[dir=ltr] {
			&:focus {
				direction: ltr;
				text-align: left;
				@include placeholder {
					color: #FFF;
				}
			}
			&:not(:placeholder-shown) {
				direction: ltr;
				text-align: left;
			}
		}
		&:focus > div {
			color: $primary;
		}
		// &:not(:placeholder-shown) {
		// 	direction: ltr;
		// 	text-align: left;
		// }
	}

	> textarea {
		padding: 1rem;
	}

	> div {
		color: #aaaaaa;
		position: absolute;
		top: 0;
		right: 0.5rem;
		line-height: 1.5;
		font-size: 1rem;
		padding: 0 0.5rem;
		font-weight: 400;
		background: transparent;
		cursor: text;
		// transition: 0.2s ease-out;
		transform: translateY(-10px) translateX(2px) scale(0.86);
		background: #fff;
	}
}

.input-border > input:focus + div,
.input-border > textarea:focus + div {
	// transform: translateY(-22px) translateX(2px) scale(0.86);
	// background: #fff;
	color: $primary;
}

.input-border > input:focus,
.input-border > textarea:focus {
	color: $black;
	border-color: $primary;
	background-color: #FFF;
}
