@mixin placeholder {
	&:placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

@mixin grid-base($namespace) {
	.col--#{$namespace} {
		@extend %col-flex;
	} // instead of extend for namespace and col
	[class^='col--#{$namespace}'] {
		@extend %col;
	}
}

@mixin grid-sizes($namespace) {
	@for $i from 1 through $columns {
		.col--#{$namespace}-#{$i} {
			width: get-col-percent($i);
		}
	}
}

@mixin border-radius($radius: $border-radius) {
	@if $enable-rounded {
		border-radius: $radius;
	}
}

@mixin border-top-radius($radius) {
	@if $enable-rounded {
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
	}
}

@mixin border-right-radius($radius) {
	@if $enable-rounded {
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	}
}

@mixin border-bottom-radius($radius) {
	@if $enable-rounded {
		border-bottom-right-radius: $radius;
		border-bottom-left-radius: $radius;
	}
}

@mixin border-left-radius($radius) {
	@if $enable-rounded {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	}
}

@mixin hover {
	&:hover {
		@content;
	}
}

@mixin hover-focus {
	&:hover,
	&:focus {
		@content;
	}
}

@mixin gradient-bg($color) {
	@if $enable-gradients {
		background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x;
	}
	@else {
		background-color: $color;
	}
}
