* {
	box-sizing: border-box;

	&:active,
	&:focus {
		outline: 0;
	}
}

html,
body {
	min-height: 100%;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: $black;
	direction: rtl;
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga'0, 'kern';
	overflow-x: hidden;
	min-width: 320px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
	border-width: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: 0.2s ease-in-out;
	color: $primary;
}

b {
	font-weight: bold;
}

ul {
	margin: 0 1rem 1rem;
	padding: 0;
	list-style-type: disc;
	list-style-position: inside;
	list-style-image: none;

	li {
		margin-bottom: 0.5em;
		list-style-image: none !important;
	}
}

::selection {
	color: #fff;
	background-color: rgba($primary, 0.95);
}

// hr{
// 	border: 0;
// 	display: block;
// 	margin: 1em auto;
// 	clear: both;
// 	width: 100%;
// 	border-bottom: 1px solid #e6e6e6;
// }

iframe {
	display: block;
	margin: 1em auto;
}

figure {
	margin: 0;
}

.hero-image {
	display: block;

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		border-radius: $radius;
		zoom: 1;
	}
}

.align-center {
	text-align: center;
}

h4.align-center {
	margin-bottom: 2rem;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}


.mt-0 {
	margin-top: 0;
}

.mt-4 {
	margin-top: 2rem;
}

.m-0 {
	margin: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-4 {
	margin-bottom: 4rem;
}

.mb-5 {
	margin-bottom: 5rem;
}

.mb6 {
	margin-bottom: 6rem !important;
}

.ml-1 {
	margin-left: 0.25rem !important;
}

.mr-1 {
	margin-right: 0.25rem !important;
}

.p-0 {
	padding: 0 !important;
}

.icon-ml,
.icon-mr {
	display: inline-block;
	vertical-align: middle;
}

.icon-ml {
	margin-left: 0.35em;
}

.icon-mr {
	margin-right: 0.35rem;
}

.icon-2x {
	font-size: 2em;
}

@each $social,
$value in $social {
	.text-#{$social} {
		color: $value;
	}

	a.text-#{$social} {
		color: $value !important;

		&:hover {
			color: lighten($value, 20) !important;
		}
	}
}

.emoji__icon {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	margin: 0 0.35em;
	// filter: grayscale(0);
	// transition: 0.12s ease;
	// &.inactive {
	// 	filter: grayscale(1);
	// 	&:hover {
	// 		filter: grayscale(0);
	// 	}
	// }
}
.modal__comp {
	position: fixed;
	display: flex;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 20px;
	background-color: rgba(8, 8, 49, 0.2);
	z-index: 10;

	// @media only screen and (min-width: 36rem) {
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// }

	@media only screen and (max-width: 36rem) {
		padding: 0;
	}

	&.center {
		padding: 20px;
		// display: flex;
		// justify-content: center;
		// align-items: center;
	}

	.modal {
		position: relative;
		margin: auto;
		width: 90%;
		background: #fff;
		color: $black;
		padding: 20px;
		width: 36rem;
		border-radius: 0.25rem;
		box-shadow: 0px 4px 30px rgba(8, 29, 41, 0.3);
		z-index: 2;

		// @media only screen and (max-width: 36rem) {
		// 	width: 100%;
		// 	margin: 0;
		// 	padding: 0;
		// }

		&.f-s {
			border-radius: 0;
			min-height: 100%;
			max-width: 100%;
			padding: 1.5rem 24px;

			@media only screen and (min-width: 36rem) {
				width: 36rem;
				border-radius: 10px;
				min-height: 0;
			}
		}

		&.c-s {
			border-radius: 10px;
			padding: 1.5rem 24px;

			@media only screen and (min-width: 36rem) {
				width: 36rem;
				border-radius: 10px;
				min-height: 0;
			}
		}

		&.p {
			padding: 0 0 1.5rem;
		}

		&.ov {
			overflow: hidden;
		}

		// &.sm {
		// 	width: 45rem;
		// 	max-width: 100%;
		// 	padding: 50px 30px 30px;
		// }
		&--header {
			padding: 1.5rem 48px 0;
			margin: -1.5rem -24px;
			margin-bottom: 2rem;

			.title {
				margin: 0;
				text-align: center;
			}

			i {
				vertical-align: middle;
			}
		}

		&--body {
			.lg {
				margin-bottom: 0.25em;
			}

			.md {
				font-weight: 300;
				color: #737d83;
				margin-bottom: 1em;
			}

			.sm {
				font-weight: 300;
				line-height: 1.5;
				color: #787e81;
				margin-bottom: 1em;
				text-align: center;
			}

			.counter {
				display: block;
				text-align: center;
				font-weight: 300;
				color: #737d83;
				margin-bottom: 1em;
			}

			.actions {
				padding: 0.5rem 2rem;
				display: flex;
				text-align: center;

				.submit {
					display: block;
					font-size: 16px;
					width: 100%;
					padding: 0.5rem 0;
					margin: 0 1rem;
					line-height: 32px;
					border-radius: 100px;
					border: 0;
					appearance: none;
					font-family: $font-head;
					color: white;

					&.green {
						background-image: -moz-linear-gradient(0deg, rgb(30, 206, 142) 0%, rgb(30, 206, 175) 100%);
						background-image: -webkit-linear-gradient(0deg, rgb(30, 206, 142) 0%, rgb(30, 206, 175) 100%);
						background-image: -ms-linear-gradient(0deg, rgb(30, 206, 142) 0%, rgb(30, 206, 175) 100%);
					}

					&.red {
						background-image: -moz-linear-gradient(0deg, rgb(208, 73, 89) 0%, rgb(237, 81, 99) 100%);
						background-image: -webkit-linear-gradient(0deg, rgb(208, 73, 89) 0%, rgb(237, 81, 99) 100%);
						background-image: -ms-linear-gradient(0deg, rgb(208, 73, 89) 0%, rgb(237, 81, 99) 100%);
					}

					cursor: pointer;
					transition: 0.2s ease-in-out;

					&[disabled] {
						background: rgba(black, 0.15);

						pointer-events: none;
					}

					.icon {
						display: block;
						line-height: 30px;
						font-size: 1.125em;
						color: #fff;
					}

					.spinner {
						margin: 2px auto;
						height: 21px;
						width: 21px;
					}
				}
			}
		}

		&--footer {
			// background-color: #f3eaea;
			margin: 24px -24px -1.5rem;
		}
	}

	.close-modal {
		position: absolute;
		top: 0;
		left: 0;
		color: #222;
		font-size: 1.125em;
		padding: 1.5rem;
		line-height: 2;
		opacity: 0.5;
		transition: .12s ease-in opacity;
		cursor: pointer;
		z-index: 10;

		&:hover {
			opacity: 1;
		}

		[class^="icon-"] {
			font-size: 18px;
		}
	}
}


.icon_circle {
	display: block;
	width: 26px;
	height: 26px;
	border: 1px solid lighten(#737d83, 10);
	border-radius: 100%;
}


.rounded-btn {
	display: table;
	font-size: 16px;
	width: 100%;
	padding: 0.5rem 0;
	margin: 0 auto;
	line-height: 32px;
	border-radius: 100px;
	border: 0;
	appearance: none;
	font-family: $font-head;
	color: #999;
	border: 1px solid rgba($secondary, 0.15);
	cursor: pointer;
	transition: 0.2s ease-in-out;

	&.green {
		color: white;
		border: 0;
		background-image: -moz-linear-gradient(0deg, rgb(30, 206, 142) 0%, rgb(30, 206, 175) 100%);
		background-image: -webkit-linear-gradient(0deg, rgb(30, 206, 142) 0%, rgb(30, 206, 175) 100%);
		background-image: -ms-linear-gradient(0deg, rgb(30, 206, 142) 0%, rgb(30, 206, 175) 100%);
	}

	&.red {
		color: white;
		border: 0;
		background-image: -moz-linear-gradient(0deg, rgb(208, 73, 89) 0%, rgb(237, 81, 99) 100%);
		background-image: -webkit-linear-gradient(0deg, rgb(208, 73, 89) 0%, rgb(237, 81, 99) 100%);
		background-image: -ms-linear-gradient(0deg, rgb(208, 73, 89) 0%, rgb(237, 81, 99) 100%);
	}

	&.black {
		border-color: #888;
		color: #666;
		&:hover {
			// color: #333;
			background-color: #f3f3f3;
			border-color: #999;
		}
	}

	&[disabled] {
		background: rgba(black, 0.15);

		pointer-events: none;
	}

	&.disabled {
		opacity: 0.5;
		// pointer-events: none;
	}

	.icon {
		display: block;
		line-height: 30px;
		font-size: 1.125em;
	}

	.spinner {
		margin: 2px auto;
		height: 21px;
		width: 21px;
	}
}

.date--container {
	display: flex;
	margin: 0 -.5rem;

	.cell {
		flex: 1;
		margin: 0 0.5rem;
	}
}
