$version: 1;

/**
 * Global variables
 */
$gutter-width: 0.5rem !default;
$gap: $gutter-width;
$columns: 12;
$width-container: 72rem !default; // 70rem
$breakpoints: ((small, 20rem), (medium, 48.25rem), (large, 60rem)) !default;
$desktop: nth(nth($breakpoints, 3), 2);
$tablet: nth(nth($breakpoints, 2), 2);
$mobile: nth(nth($breakpoints, 1), 2);
$grid--negative: true;

/**
 * Typography
 */
$ms-base: 1rem;
$ms-baseline: ($ms-base * (3/2));
$ms-ratio: 1.333;
$font-body: is;
$font-directiory: '../fonts/';
$font-head: $font-body,
Helvetica,
Tahoma,
Geneva,
Verdana,
sans-serif;

/**
 * Box Model
 */
$radius: 5px;

/**
 * Colors
 */
$primary: #1ECEAF;
$secondary: #081D29;
$gray: #868F94;
$pink: #E63764;
$black: #000;

$light-gray: #999999;
$midgray: #DADCE0;
$lightgray: #ECEDEF;
$white: #FFFFFF;

$green: #1ECE8E;
$info: #17a2b8;
$warning: #ffc107;
$danger: #e7302a;

$light-danger: #ffe8e7;
$dark-gray: #777777;
$gray: #616161;
$light-gray: darken(#e0e0e0, 3);

/**
 * Button Colors
 */
$theme-colors: ('primary': $primary, 'success': $green, 'info': $info, 'warning': $warning, 'danger': $danger, 'light': #EDF1F2, 'dark': #171718, 'gray': $gray);

/**
 * Social Colors
 */
$social: (facebook: #3a559f, twitter: #55acee, google-plus: #dd4b39, whatsapp: #25d366, instagram: #e1306c, telegram: #37aee2);


:root {
	--success: #{$green};
	--info: #{$info};
	--danger: #{$danger};
	--primary: #{$primary};
	--secondary: #{$secondary};
}
