@charset "UTF-8";
// @import "./kit/framy.css";
@import "./kit/framy.scss";

.container-fluid,
.container {
	margin-right: auto;
	margin-left: auto;
	@media only screen and (max-width: 48rem) {
		padding-right: 20px;
		padding-left: 20px;
	}
}

.container-fluid {
	padding-right: 40px;
	padding-left: 40px;
	@media only screen and (min-width: 85rem) {
		padding-right: 100px;
		padding-left: 100px;
	}
	@media only screen and (max-width: 48rem) {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.hide-xs {
	display: none !important;
	@media only screen and (min-width: 48em) {
		display: block !important;
	}
}

.show-xs {
	display: none !important;
	@media only screen and (max-width: 48em) {
		display: block !important;
	}
}

@media only screen and (min-width: 48em) {
	.container {
		width: 48em;
	}
}

@media only screen and (min-width: 64em) {
	.container {
		width: 64em;
	}
}

@media only screen and (min-width: 75em) {
	.container {
		width: 65em;
	}
}

.min-h {
	margin: 0;
	min-height: 100vh;
}
.has-padd {
	padding: 50px 0 90px;
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.col-gray {
	background-color: #f0f1f5;
}
.user--account {
	position: relative;
	padding: 20px 0 20px;
	background: #fbfbfb;
	box-shadow: 0 2px 8px rgba(#4f525f, 0.1);
	z-index: 1;
}

.sticky {
	@media only screen and (min-width: 48rem) {
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 1.5rem;
	}
}

.action--bar {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 36rem;
	text-align: center;
	max-width: 100%;
	padding: 1.25rem 0 1.25rem;
	font-size: 1.125rem;
	line-height: 1.5;
	color: #fff;
	box-shadow: 0 -1px 12px 0 rgba(0, 0, 0, 0.12);
	z-index: 9;
	cursor: pointer;
}
@media only screen and (min-width: 36rem) {
	.action--bar {
		border-radius: 10px 10px 0 0;
	}
}
.action--bar.green {
	background-image: -webkit-linear-gradient(0deg, #1ece8e 0%, #1eceaf 100%);
	background-image: -ms-linear-gradient(0deg, #1ece8e 0%, #1eceaf 100%);
}
// .action--bar.red {
// 	background-image: -webkit-linear-gradient(0deg, #d04959 0%, #ed5163 100%);
// 	background-image: -ms-linear-gradient(0deg, #d04959 0%, #ed5163 100%);
// }
.action--bar.off {
	pointer-events: none;
}
.action--bar.df {
	background: #a3a6af;
	color: #edeff5;
	pointer-events: none;
}
.action--bar.disabled {
	background: #a3a6af;
	color: #edeff5;
	pointer-events: none;
}
// .action--bar.disabled .spinner {
// 	margin: 0 auto;
// 	border-top-color: #696b6d;
// }
// .action--bar b {
// 	font-weight: 500;
// 	word-spacing: -0.08em;
// }
// .action--bar .count {
// 	margin-top: 0.25em;
// 	font-size: 0.85em;
// 	display: block;
// }
// .action--bar .button {
// 	display: inline-block;
// 	background-color: rgba(0, 0, 0, 0.2);
// 	font-size: 0.9em;
// 	padding: 0.5em 1em;
// 	margin-left: 1rem;
// 	border-radius: 100px;
// 	min-width: 120px;
// 	text-align: center;
// 	-webkit-transition: 0.2s ease;
// 	-o-transition: 0.2s ease;
// 	transition: 0.2s ease;
// }
// .action--bar .button .spinner {
// 	margin: 2px auto;
// 	height: 21px;
// 	width: 21px;
// }
// .action--bar .icon {
// 	position: absolute;
// 	top: 50%;
// 	-webkit-transform: translateY(-50%);
// 	-ms-transform: translateY(-50%);
// 	transform: translateY(-50%);
// 	left: 10px;
// 	font-size: 1.35em;
// }

code {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;

	color: darken(#d1d7e4, 40);
	margin-right: 5px;
	font-size: 0.85em;
}

.form-group > span {
	min-width: 40px;
	text-align: center;
	justify-content: center;
}
.counter {
	position: relative;
	min-width: 40px;
	text-align: center;
	font-size: 16px;
	justify-content: center;
	z-index: 2;
	&.ok {
		color: #3ba764;
		background: #e0f3e7;
		border-color: #9fdeb7;
	}
	&.oh {
		color: #a73b3b;
		background: #f9e9e9;
		border-color: #de9f9f;
	}
}

// G AD
.service-setting-button {
	float: right;
	font-size: 16px !important;
	margin-top: 8px;
}

.gadp-success-box {
	margin-top: 20px;
	border-radius: 3px;
	background: #f7fbf0;
	padding: 20px;
	border: 1px solid #e5efd5;
}

.gadp-success-box h4 {
	color: #54790a;
}

.gadp-success-box span {
	font-size: 16px;
	font-weight: 400;
	color: #54790a;
	display: block;
	line-height: 1;
}

.gadp-success-box a {
	color: #4e4e4e !important;
	line-height: 1.5em;
	display: block;
	margin-top: 4px;
	font-weight: 400;
}

.button.gadps-url-submit {
	float: left;
	width: 130px;
}

.gadp-buttons {
	padding-top: 20px;
	padding-bottom: 35px;
	border-bottom: 1px solid #ededed;
	margin-bottom: 35px;
}

.gadp-buttons .button:nth-child(2) {
	margin-right: 10px;
}

.gadps-url {
	float: right;
	padding: 9px 15px;
	width: calc(100% - 138px);
}

.gadps-title {
	font-size: 20px;
}

.gadps-text {
	display: block;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 4px;
}

.gadps-content {
	font-size: 15px;
	margin-top: 10px;
	border-bottom: 1px solid #ededed;
	padding-bottom: 10px;
}

.gadps-content p {
	margin-bottom: 10px;
}

.page .gadps-text {
	margin-top: 12px;
	line-height: 1.8;
	margin-bottom: 20px;
}

.gadps-form {
	margin-bottom: 20px;
}

.gadp-outer {
	position: relative;
}

.gadp-outer:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 48%;
	background: #fafafa;
	content: "";
	z-index: 1;
}

.gadp-outer .kt-row {
	display: flex;
	margin-left: -30px;
	margin-right: -30px;
}

.gadp-outer .kt-row .column {
	padding: 70px 30px;
}

.gadp-title {
	font-family: arial;
	text-decoration: none;
	display: block;
	&:hover {
		text-decoration: underline;
	}
}

.gadp-description {
	color: #545454;
	font-family: arial;
	font-size: 13px;
	line-height: 1.4;
}

.gadp-box {
	max-width: 100%;
	// width: 640px;
	text-align: left;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gadp-box .gadp-title {
	color: #1e0fbe;
	font-size: 18px;
	line-height: 21px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gadp-url-tag {
	background-color: #fff;
	border-radius: 3px;
	color: #006621;
	display: inline-block;
	font-size: 11px;
	border: 1px solid #006621;
	padding: 1px 3px 0;
	line-height: 11px;
	vertical-align: baseline;
	margin-right: 7px;
}

.gadp-url-outer {
	color: #006621;
	font-family: arial;
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 1px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	direction: ltr;
}

.gadp-url {
	display: inline-block;
	padding-right: 12px;
	position: relative;
	vertical-align: bottom;
}

// .gadp-url:before {
// 	bottom: 0;
// 	color: #006621;
// 	content: '\f0d7';
// 	font-family: FontAwesome;
// 	font-size: 12px;
// 	position: absolute;
// 	right: 0;
// 	top: 1px;
// 	z-index: 1
// }

.gadp-callouts,
.gadp-sitelinks,
.gadp-snippets {
	color: #545454;
	font-family: arial;
	font-size: 13px;
	line-height: 1.4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gadp-callouts:empty,
.gadp-sitelinks:empty,
.gadp-snippets:empty {
	display: none !important;
}

.gadp-sitelinks a {
	color: #1e0fbe;
}

.gadp-hide {
	display: none !important;
}

.gadp-phone {
	color: #545454;
	// margin-left: 8px;
	vertical-align: bottom;
}

.gadp-phone:empty {
	display: none !important;
}

// .gadp-mobile {
// 	max-width: 100%;
// 	width: 370px;
// 	padding: 50px 13px;
// 	background: #fff;
// 	border-radius: 25px;
// 	height: 670px;
// 	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1),
// 		0 46px 40px -35px rgba(0, 0, 0, 0.05);
// 	float: left;
// 	margin-top: 30px;
// 	text-align: left;
// 	direction: ltr;
// }

.gadp-mobile .gadp-phone {
	margin: 0;
	display: block;
	padding: 8px 15px;
	border-top: 1px solid #ededed;
	font-family: arial;
}

.gadp-mobile .gadp-phone:before {
	content: "Call ";
}

// .gadp-mobile .gadp-phone:after {
// 	content: "\e090";
// 	font-family: ElegantIcons;
// 	float: left;
// 	font-size: 18px;
// 	line-height: 1;
// 	position: relative;
// 	top: 5px;
// 	margin-right: 10px;
// 	color: grey;
// }

.gadp-mobile .gadp-sitelinks {
	font-size: 0;
	margin-top: 10px;
	margin-right: -15px;
	text-overflow: unset;
}

.gadp-mobile .gadp-sitelinks a {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	padding: 5px 8px 5px;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	color: #1967d2;
	margin-right: 8px;
}

.gadp-mobile-inner {
	// border: 2px solid #f1f1f1;
	height: 100%;
	// border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.gadp-google-logo {
	margin: 20px auto 15px;
	width: 90px;
	height: 30px;
	background: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png)
		no-repeat;
	background-size: 100%;
	display: block;
}

.gadp-google-search-holder {
	box-shadow: 0 1px 7px rgba(32, 33, 36, 0.18);
	border-radius: 5px;
	margin: 0 10px;
	overflow: hidden;
}

.gadp-google-search-holder input {
	width: calc(100% - 40px);
	padding: 7px 14px;
	border: none;
	background: 0 0;
}

.gadp-google-search-holder i {
	height: 40px;
	width: 40px;
	background-color: #3b78e7;
	color: #fff;
	float: right;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	border-radius: 0 5px 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
	background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
	cursor: pointer;
}

.gadp-mobile-ad {
	text-align: left;
	box-shadow: 0 1px 7px rgba(32, 33, 36, 0.15);
	border-radius: 5px;
	margin: 10px 10px 0;
}

.gadp-mobile-title {
	padding: 15px 0;
	margin: 0 15px;
	border-bottom: 1px solid #ededed;
}

.gadp-mobile-title .gadp-title {
	color: #1967d2;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 1px;
	margin-top: 1px;
}

.gadp-mobile-content {
	padding: 15px;
}

.gadp-google-menu {
	direction: ltr;
	border-top: 1px solid #ededed;
	margin-top: -1px;
	white-space: nowrap;
}

.gadp-google-menu span {
	display: inline-block;
	line-height: 42px;
	height: 40px;
	margin: 0;
	padding: 0 14px;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
}

.gadp-google-menu span {
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	cursor: pointer;
}

.gadp-google-menu span.active {
	border-bottom: 2px solid #1a73e8;
	color: #1a73e8;
}

.form-element code {
	float: left;
}

.my-collapsible__content {
	overflow: hidden;
	margin: 10px 30px 15px 0;
}

.iphone-x {
	position: relative;
	margin: 60px auto 0;
	width: 360px;
	max-width: 90%;
	height: 760px;
	background-color: #fff;
	// background-image: linear-gradient(60deg, #7371ee 1%, #a1d9d6 100%);
	border-radius: 40px;
	padding-top: 30px;
	box-shadow: 0 0 0 11px #f0f1f5, 0 0 0 13px #ffffff, 0 0 0 20px #dfe1e8;

	@media only screen and (max-width: 48rem) {
		height: 650px;
	}
	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	// home button indicator
	&:after {
		bottom: 10px;
		width: 100px;
		height: 6px;
		background-color: rgba(223, 225, 231, 0.73);
		border-radius: 10px;
	}

	// frontal camera/speaker frame
	&:before {
		top: 0px;
		width: 56%;
		height: 30px;
		background-color: #f0f1f5;
		border-radius: 0px 0px 40px 40px;
	}

	// i,
	// b,
	// s,
	// span {
	// 	position: absolute;
	// 	display: block;
	// 	color: transparent;
	// }

	// // speaker
	// i {
	// 	top: 0px;
	// 	left: 50%;
	// 	transform: translate(-50%, 6px);
	// 	height: 8px;
	// 	width: 15%;
	// 	background-color: #101010;
	// 	border-radius: 8px;
	// 	box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
	// }

	// // camera
	// b {
	// 	left: 10%;
	// 	top: 0px;
	// 	transform: translate(180px, 4px);
	// 	width: 12px;
	// 	height: 12px;
	// 	background-color: #101010;
	// 	border-radius: 12px;
	// 	box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);

	// 	&:after {
	// 		content: "";
	// 		position: absolute;
	// 		background-color: #2d4d76;
	// 		width: 6px;
	// 		height: 6px;
	// 		top: 2px;
	// 		left: 2px;
	// 		top: 3px;
	// 		left: 3px;
	// 		display: block;
	// 		border-radius: 4px;
	// 		box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
	// 	}
	// }

	// // time
	// s {
	// 	top: 50px;
	// 	color: #fff;
	// 	text-align: center;
	// 	text-decoration: none;
	// 	width: 100%;
	// 	font-size: 70px;
	// 	font-weight: 100;
	// 	padding-top: 60px;
	// }

	// // action buttons
	// span {
	// 	bottom: 50px;
	// 	width: 40px;
	// 	height: 40px;
	// 	background-color: rgba(0, 0, 0, 0.3);
	// 	border-radius: 50%;
	// 	left: 30px;

	// 	& + span {
	// 		left: auto;
	// 		right: 30px;
	// 	}
	// }
}
