.body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
}
.wrap {
	width: 375px;
	padding: 0 20px;
	max-width: 100%;
	margin: 0 auto;
}

.outer {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin: 0 auto;
	background-image: url(../../assets/ground.svg);

	transform: translateY(20%);
	opacity: 0;
	visibility: hidden;
	&.loaded {
		transform: translateY(0%);
		opacity: 1;
		transition: 0.6s cubic-bezier(0.39, 0.58, 0.57, 1.2);
		visibility: visible;
	}
	&.active {
		transition: 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
		transform: translateY(-10%);
	}
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: (506 / 335) * 100%;
	}
	> .inner {
		position: absolute;
		top: 16px;
		right: 2px;
		bottom: 16px;
		left: 2px;
	}
}

// .row {
// 	position: relative;
// 	height: 25%;
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-around;
// 	.touchable {
// 		padding: 1rem 2rem;
// 		// flex: 1;
// 		// position: absolute;
// 	}
// }

.selectPlayer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 20px 0;
	z-index: 1;
	background: rgb(82, 131, 54);
	box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.12);

	transition: 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
	transform: translateY(100%);
	opacity: 0;
	&.active {
		transform: translateY(0%);
		opacity: 1;
	}

	.title {
		margin: 0 0 1rem;
		font-weight: 400;
		font-size: 16px;
		color: #FFFFFF;
		letter-spacing: -0.34px;
		text-align: center;
		line-height: 18px;
	}
	.players {
		width: 100vw;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		padding: 5px 20px 48px 0;
		margin-right: -20px;
		line-height: 0;


		&::-webkit-scrollbar {
			display: none;
		}
		:global {
			.player {
				display: inline-block;
				margin-left: 30px;
				width: 54px;
				height: 54px;
				&:last-child {
					margin-left: 20px;
				}
				&.filled {
					background-color: #f4fff0;
				}
				&.disabled {
					opacity: 0.4;
					pointer-events: none;
				}
				span {
					font-size: 14px;
					white-space: pre-line;
				}
			}
		}
		// @media only screen and (min-width: 36rem) {
		// 	display: flex;
		// 	width: 100%;
		// 	margin-right: 0px;
		// 	margin-left: 0px;
		// 	padding: 4px 4px 24px 0;
		// 	justify-content: space-around;
		// }
	}
}

.touchable {
	position: absolute;
	padding: 1rem 2rem;
	&.z-0 {
		bottom: 26px;
		left: 50%;
		transform: translateX(-50%);
	}
	&.z-1 {
		bottom: 150px;
		left: 0;
	}
	&.z-2 {
		bottom: 110px;
		left: 85px;
	}
	&.z-3 {
		bottom: 110px;
		left: 170px;
	}
	&.z-4 {
		bottom: 150px;
		right: 0;
	}
	&.z-5 {
		top: 150px;
		left: 0px;
	}
	&.z-6 {
		bottom: 205px;
		left: 50%;
		transform: translateX(-50%);
	}
	&.z-7 {
		top: 150px;
		right: 0px;
	}
	&.z-8 {
		top: 40px;
		left: 20px;
	}
	&.z-9 {
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
	&.z-10 {
		top: 40px;
		right: 20px;
	}
	// flex: 1;
	// position: absolute;
}

:global {
	.loaded {
		.player {
			opacity: 1 !important;
			// transform: translateY(0%);
			// transform: translateY(-100%);
		}
	}
	.touchable {
		.player {
			opacity: 0;
			transition: 0.12s ease-in;
		}
		&:nth-child(1) .player {
			transition-delay: 0.25s;
		}
		&:nth-child(2) .player {
			transition-delay: 0.45s;
		}
		&:nth-child(3) .player {
			transition-delay: 0.65s;
		}
		&:nth-child(4) .player {
			transition-delay: 0.85s;
		}
		&:nth-child(5) .player {
			transition-delay: 0.95s;
		}
		&:nth-child(6) .player {
			transition-delay: 1.15s;
		}
		&:nth-child(7) .player {
			transition-delay: 1.35s;
		}
		&:nth-child(8) .player {
			transition-delay: 1.55s;
		}
		&:nth-child(9) .player {
			transition-delay: 1.75s;
		}
		&:nth-child(10) .player {
			transition-delay: 1.95s;
		}
		&:nth-child(11) .player {
			transition-delay: 2.15s;
		}
	}
}

.submit {
	position: fixed;
	font-family: is;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 20px 30px 30px;
	background: #FFDD45;
	color: rgb(34, 53, 11);
	border: 0;
	font-size: 16px;
	width: 100%;
	box-shadow: 0 -2px 16px 0 rgba(0,0,0,0.12);
	// transition: 0.2s ease;
	transition: 0.4s cubic-bezier(0.39, 0.58, 0.57, 1);
	transform: translateY(100%);
	opacity: 0;
}
.submitDisabled {
	pointer-events: none;
	background: #709246;
	color: #cfecb3;
	opacity: 0.4;
}
.submitClicked {
	background: #7ebb42;
	pointer-events: none;
}

.submitLoaded {
	transform: translateY(0%);
	opacity: 1;
}


.spinner {
	display: block;
	width: 25px;
	height: 25px;
	border: 3px solid transparent;
	border-top: 2px solid #385218;
	border-radius: 100%;
	margin: 0 auto;
	animation: spin 0.45s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
