*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.header {
  background-color: #222528;
  mmin-height: 200px;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.content {
  min-height: 200px;
  padding: 2rem;
  margin: 0 auto;
  max-width: 900px;
}

.canvas-wrap {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

canvas {
  display: block;
}
